body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

tr.info > td {
    color: black !important;
}

.table tbody tr.info > td {
    background-color: #efefef;
}

.table tbody tr.info:hover > td {
    background-color: #efefef;
}

.text-info {
    margin-left: 40px;
    color: green;
    font-size: small;
    font-style: italic;
}
