body {
    padding-top: 60px;
    padding-bottom: 40px;
}

tr.info > td > a {
    color: white !important;
}

tr.error > td > a {
    color: white !important;
}

div.pagination {
    margin-top: 0px;
    margin-bottom: 0px;
}

div#title {
    margin-top: 5px;
    font-size: large;
}

    div#title span.xl {
        font-weight: bold;
        font-size: x-large;
    }
    div#title a {
        color: #666;
    }

.starts, .terminates {
    font-weight: normal !important;
}

.stationName {
    font-weight: bold;
}

@media (max-width: 480px) {
    .navbar .brand {
        font-size: 16px;
    }

    div#title {
        margin-top: 5px;
        font-size: 14px;
    }

        div#title span.xl {
            font-weight: bold;
            font-size: 14px;
        }
}

.text-warning {
    margin-top: 10px;
    margin-left: 40px !important;
    color: red;
    font-size: small;
    font-style: italic;
}

.text-info {
    margin-top: 10px;
    margin-left: 40px !important;
    color: green;
    font-size: small;
    font-style: italic;
}
