#station {
    width: 100%;
}

td span.platform {
    font-weight: bold;
}

td.rail {
    border: 1px double black;
}

td span.berth {
    text-decoration: underline;
    cursor: pointer;
}
.text-warning {
    margin-left: 40px;
    color: red;
    font-size: small;
    font-style: italic;
}
