.fixed {
    position: fixed;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.centerText {
    text-align: center !important;
}

.table tbody tr.pass > td {
    background-color: #faf2cc;
    font-style: italic;
}

.table tbody tr.cancel > td {
    background-color: #f2dede !important;
}

table.table-header-colour thead th {
    background-color: #EEE;
}

.stationName {
    text-transform: capitalize;
}

.changeOfOrigin {
    text-decoration: line-through;
}

.changeOfDestination {
    text-decoration: line-through;
}

.table tbody tr.reinstatement > td {
    background-color: white !important;
}

#map {
    margin-top: 5px;
    height: 780px;
}

.top-search{
    margin-right: 5px;
}

@media (min-width: 979px) {
    .phone-show {
        display: none !important;
    }
}

/* override bootstrap */
@media (max-width: 979px) and (min-width: 768px) {
    .row-fluid .span10 {
        width: 97%;
    }
}

@media (max-width: 979px) {
    .phone-hide {
        display: none !important;
    }

    div.tab-pane.active > table {
        margin-top: 10px;
    }

    tr.phone-show {
        display: table-cell !important;
    }

    .time {
        max-width: 3.5ex;
        overflow: hidden;
    }
}

/* override bootstrap */
ul.nav.nav-tabs {
    margin-bottom: 0px;
}

/* override spacelab bootstrap */
.table tbody tr.warning > td {
    background-color: #FFD456;
}

/* override spacelab bootstrap */
.table-hover tbody tr.warning:hover > td {
    background-color: #FFB600;
}

/* override bootstrap responsive*/
@media (max-width: 979px) {
    .navbar-fixed-top {
        position: fixed;
    }
}

/* override bootstrap responsive*/
/* only for within navbar*/
@media (max-width: 767px) {
    .navbar-inner > .container-fluid {
        padding-right: 20px;
        padding-left: 20px;
    }
}

/* override bootstrap responsive*/
/* seems to be issue in chrome dev around this screen size*/
@media (min-width: 1900px) {
    .row-fluid .span10 {
        width: 82.9%;
    }
}

@media (max-width: 979px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    .table-bordered {
        border-radius: 0px;
    }

        .table-bordered thead:first-child tr:first-child > th:first-child {
            border-top-left-radius: 0px;
        }

        .table-bordered thead:first-child tr:first-child > th:last-child {
            border-top-right-radius: 0px;
        }

        .table-bordered tbody:last-child tr:last-child > td:first-child {
            border-bottom-left-radius: 0px;
        }

        .table-bordered tbody:last-child tr:last-child > td:last-child {
            border-bottom-right-radius: 0px;
        }
}
