body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.stationName {
    text-transform: capitalize;
}

.changeOfOrigin {
    text-decoration: line-through;
}

.centerText {
    text-align: center !important;
}

.table tbody tr.pass > td {
    background-color: #F2F2DB;
    font-style: italic;
}

.table tbody tr td.pass {
    background-color: #F2F2DB;
    font-style: italic;
}

.table tbody tr.cancel > td {
    background-color: rgba(255, 0, 0, 0.14) !important;
    text-decoration: line-through;
}

table.table-header-colour thead th {
    background-color: #CFCFCE;
    color: #333E42;
}

tr.info > td {
    background-color: #d9edf7 !important;
}

    tr.info > td > span.changeOfOrigin {
        display: block;
    }

.changeOfDestination {
    text-decoration: line-through;
}

tr.error > td > span.changeOfDestination {
    display: block;
}

.table tbody tr.reinstatement > td {
    background-color: #0099dd !important;
    color: white !important;
}

    .table tbody tr.reinstatement > td > a {
        color: white !important;
    }

.fixed {
    position: fixed;
}

.pointer {
    cursor: pointer;
}

.pager {
    margin: 5px 0px !important;
}

.actual {
    font-weight: bold;
}

@media (max-width: 979px) {

    div.tab-pane.active > table {
        margin-top: 10px;
    }
}

@media (max-width: 767px) {

    table > tbody > tr > td.time:nth-child(6) {
        padding-right: 2px !important;
    }

    
    table > tbody > tr > td.time:nth-child(13){
        padding-left: 2px !important;
    }

    td.time, td.platform, td.stationName {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    div#title {
        font-size: 14px !important;
        padding-left: 10px;
    }

        div#title span.xxl {
            font-weight: bold;
            font-size: 14px !important;
        }

        div#title span.xl {
            font-weight: bold;
            font-size: 14px !important;
        }

    .pager {
        margin: 0px !important;
    }
}
