table span {
    background: none !important;
}

table a {
    background: none !important;
}

.toc-AW * {
    background: rgba(48,197,184,0.05);
    color: black;
}

.toc-LM * {
    background: rgba(118,180,31,0.05);
    color: black;
}

.toc-XC * {
    background: rgba(200,8,21,0.05);
    color: black;
}

.toc-VT td {
    background: rgba(255, 0, 0, 0.05);
    color: black;
}

.toc-LO td {
    background: rgba(232,106,16,0.05);
    color: black;
}

.toc-SR td {
    background: rgba(255,128,192,0.05);
    color: black;
}

.toc-NT td {
    background: rgba(139,0,255,0.05);
    color: black;
}

.toc-TP td {
    background: rgba(1,3,133,0.05);
    color: black;
}

.toc-EM td {
    background: rgba(255,165,0,0.05);
    color: black;
}

.toc-FC td {
    background: rgba(244,0,161,0.05);
    color: black;
}

.toc-GC td {
    background: rgba(44,56,56,0.05);
    color: black;
}

.toc-GR td {
    background: rgba(142,24,124,0.05);
    color: black;
}

.toc-HT td {
    background: rgba(255,0,153,0.05);
    color: black;
}

.toc-CH td {
    background: rgba(0,191,255,0.05);
    color: black;
}

.toc-LE td {
    background: rgba(215,4,40,0.05);
    color: black;
}

.toc-ME td {
    background: rgba(255,242,0,0.05);
    color: black;
}

.toc-SN td {
    background: rgba(140,198,62,0.05);
    color: black;
}

.toc-SE td {
    background: rgba(176,196,222,0.05);
    color: black;
}

.toc-SW td {
    background: rgba(238,28,35,0.05);
    color: black;
}
