body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.btn-top {
    margin-top: -10px !important;
}

.changePlatform {
    font-weight: bold;
}

table {
    margin-top: 5px;
}
/* off route link */
tr.info a {
    color: white;
}

.alert-info {
    color: green;
    font-weight: bold;
}

.alert-warning {
    color: red;
}

.alert-important {
    color: red;
    font-weight: bold;
}

.col.station {
    background-color: rgba(247, 247, 247, 0.23);
}

.col.arrive {
    background-color: rgba(247, 247, 247, 0.23);
}

.col.depart {
    background-color: rgba(247, 247, 247, 0.23);
}

.col.extra {
    background-color: rgba(247, 247, 247, 0.23);
}

div#title {
    margin-top: 5px;
    font-size: large;
}

    div#title span.xxl {
        font-weight: bold;
        font-size: xx-large;
        margin-left: 5px;
    }

    div#title span.xl {
        font-weight: bold;
        font-size: x-large;
    }

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    div#title {
        margin-top: 5px;
        font-size: 14px;
    }

        div#title span.xxl {
            font-weight: bold;
            font-size: 14px;
            margin-left: 5px;
        }

        div#title span.xl {
            font-weight: bold;
            font-size: 14px;
        }
}

@media (max-width: 979px) {
    div#title span:first-child {
        margin-left: 0px !important;
        display: block !important;
    }
}

.text-warning {
    margin-left: 40px;
    color: red;
    font-size: small;
    font-style: italic;
}

.text-info {
    margin-left: 40px;
    color: green;
    font-size: small;
    font-style: italic;
}

#map {
    margin-top: 5px;
    height: 780px;
}
