---
layout: default
title: trainnotifier.co.uk
menu: <li><a href="/">Home</a></li><li><a href="route/">Routes</a></li><li><a href="http://www.whattrain.co.uk/" target="_blank">Stations</a></li><li class="active"><a>PPM</a></li><li><a href="about/">About</a></li><li>
css: ppm.css
js:
    - src: app/ppmModels.js
    - src: app/ppm.js
---
<div class="row">
    <div class="col-md-2 hidden-xs hidden-sm">
        <div class="list-group" id="commandOptions">
            <a href="#" onclick="return false;" class="list-group-item">
                Operator:
            </a>
            <a class="list-group-item active" href="#all" onclick="showAll(); return false;">All</a>
            <!-- ko foreach: $data -->
            <a class="list-group-item" data-bind="text: Operator, attr: { id: 'op-' + Id(), href: '#' + Id(), onclick: 'viewOperator(\'' + Id() + '\'); return false;' }"></a>
            <!-- /ko -->
        </div>
    </div>
    <!--/span2-->
    <div class="col-md-10">
        <div class="alert alert-info" id="title">
            Last Updated: <span data-bind="text: ts"></span><span style="font-size: small;" title="Approx. update time">(Update in &asymp; <span data-bind="text: next"></span>s)</span>
        </div>
        {% include ppm-table.html %}
        {% include ppm-operator.html %}
    </div>
    <!--/span10-->
</div>
<!--/row-fluid-->
<div class="row">
    <p class="text-info info-text">
        <span class="glyphicon glyphicon-info-sign"></span>&nbsp;This page shows the current PPM records.<br />
        Click through each section for more detailed information. Historical data is stored but not currently accessible.<br />
        Keep the page open to automatically get the latest data (or refresh manually)
    </p>
</div>
