<div class="hide" id="ppmOperator">
    <ul class="breadcrumb">
        <li><a href="#all" onclick="showAll(); return false;">All</a> <span class="divider">/</span></li>
        <li data-bind="visible: $data.IsRegion"><a data-bind="text: $data.Parent.Operator, attr: { href: '#' + $data.Parent.Id(), onclick: 'viewOperator(\'' + $data.Parent.Id() + '\'); return false' }"></a> <span class="divider">/</span></li>
        <li class="active"><span data-bind="    text: $data.Operator"></span> <span class="divider">/</span></li>
        <li class="dropdown" data-bind="visible: $data.Regions().length > 0">
            <a class="dropdown-toggle" id="sub" data-toggle="dropdown" href="#">Sub-Regions</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="sub" data-bind="foreach: $data.Regions()">
                <li><a data-bind="text: Operator, attr: { href: '#' + $parent.Id() + '/' + Id(), onclick: 'viewSubRegion(\'' + $parent.Id() + '\', \'' + Id() + '\'); return false;' }"></a></li>
            </ul>
        </li>
    </ul>
    <hr style="margin: 5px 0px;" />
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Time</th>
                <th>On Time</th>
                <th>Late</th>
                <th>Cancel Very Late</th>
                <th>Total</th>
                <th>PPM (%)</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: $data.PPMData()">
            <tr>
                <td data-bind="text: Timestamp"></td>
                <td data-bind="text: OnTime"></td>
                <td data-bind="text: Late"></td>
                <td data-bind="text: CancelVeryLate"></td>
                <td data-bind="text: Total"></td>
                <td data-bind="text: PPM"></td>
            </tr>
        </tbody>
    </table>
</div>
