<table class="table table-hover table-bordered" id="ppmTable">
    <thead>
        <tr>
            <th>Area</th>
            <th>On Time</th>
            <th>Late</th>
            <th>Cancel Very Late</th>
            <th>Total</th>
            <th>PPM (%)</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: $data">
        <tr>
            <td><a data-bind="text: Operator, attr: { href: '#' + Id(), onclick: 'viewOperator(\'' + Id() + '\'); return false;' }"></a></td>
            <td><span data-bind="visible: LatestPPM(), text: LatestPPM().OnTime"></span></td>
            <td><span data-bind="visible: LatestPPM(), text: LatestPPM().Late"></span></td>
            <td><span data-bind="visible: LatestPPM(), text: LatestPPM().CancelVeryLate"></span></td>
            <td><span data-bind="visible: LatestPPM(), text: LatestPPM().Total"></span></td>
            <td><span data-bind="visible: LatestPPM(), text: LatestPPM().PPM"></span></td>
        </tr>
    </tbody>
</table>
