<table class="table table-hover table-bordered table-header-colour" id="scheduleView">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th colspan="2">Arrive</th>
            <th colspan="2">Depart</th>
            <th class="phone-hide" colspan="3"></th>
            <th class="phone-show" colspan="2"></th>
        </tr>
        <tr>
            <th>Location</th>
            <th>WTT</th>
            <th>Public</th>
            <th>WTT</th>
            <th>Depart</th>
            <th>Line</th>
            <th>Platform</th>
            <th class="phone-hide">Allowances</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Stops">
        <tr data-bind="css: { pass: Pass }">
            <td class="stationName"><a class="pointer" data-bind="text: Tiploc.Description, click: function (d, e) { listStation(d.Tiploc.Stanox()); }"></a></td>
            <td data-bind="text: Pass ? 'Pass' : Arrival, attr: { colspan: Pass ? 2 : 1 }"></td>
            <td data-bind="text: PublicArrival, visible: !Pass"></td>
            <td data-bind="text: Pass ? Pass : Departure, attr: { colspan: Pass ? 2 : 1 }"></td>
            <td data-bind="text: Pass ? '' : PublicDeparture, visible: !Pass"></td>
            <td data-bind="text: Line"></td>
            <td data-bind="text: Platform"></td>
            <td class="phone-hide">
                <span title="Engineering Allowance" data-bind="visible: EngineeringAllowance">E:<span data-bind="    text: EngineeringAllowance"></span>,</span>
                <span title="Pathing Allowance" data-bind="visible: PathingAllowance">Pa:<span data-bind="    text: PathingAllowance"></span>,</span>
                <span title="Performance Allowance" data-bind="visible: PerformanceAllowance">Pe:<span data-bind="    text: PerformanceAllowance"></span></span>
            </td>
        </tr>
    </tbody>
</table>