<h4>Live Running Details</h4>
<hr />
<ul>
    <li><span class="label label-info">Id:</span> <span data-bind="text: Headcode"></span></li>
    <li><span class="label label-info">Live Id:</span> <a onclick="subTrain();" data-bind="text: Id, attr: { href: '#sub/' + TrainUid() + '/' + Date() }" title="View Live Updates for this train" style="display: inline;"></a></li>
    <li><span class="label label-info">Activated:</span> <span data-bind="text: Activated"></span></li>
    <li data-bind="visible: Cancellation" style="display: none;"><span class="label label-important">Cancelled:</span> <span data-bind="    text: Cancellation"></span></li>
    <li data-bind="visible: ChangeOfOrigin" style="display: none;"><span class="label label-important">Will start from:</span> <span data-bind="    text: ChangeOfOrigin"></span></li>
    <li data-bind="visible: Reinstatement" style="display: none;"><span class="label label-important">Reinstated:</span> <span data-bind="    text: Reinstatement"></span></li>
</ul>
<h4>Schedule Details</h4>
<hr />
<ul>
    <li><span class="label label-info">Operator:</span> <span data-bind="text: AtocCode.Name" style="display: inline;"></span></li>
    <li><span class="label label-info">Type:</span> <span data-bind="text: STPValue"></span></li>
    <li><span class="label label-info">From:</span> <span data-bind="text: StartDateValue"></span></li>
    <li><span class="label label-info">To:</span> <span data-bind="text: EndDateValue"></span></li>
    <li><span class="label label-info">Runs:</span> <span data-bind="text: Runs"></span></li>
</ul>
<h4>Associations</h4>
<hr />
<ul data-bind="foreach: Associations">
    <li><span class="label label-info" data-bind="text: Title"></span><a data-bind="    text: Train, attr: { href: 'trains/' + Link(), onclick: 'setCommand(\'get/' + View() + '\');parseCommand(); return false;' }"></a>@@ <span data-bind="    text: Location.Description()"></span></li>
</ul>
<h4>Other Sites</h4>
<ul data-bind="foreach: OtherSites">
    <li><a data-bind="text: Name, attr:{ href: Url }" target="_blank"></a></li>
</ul>