<table class="table table-hover table-bordered table-header-colour">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th colspan="2">Arrive</th>
            <th colspan="2">Depart</th>
            <th class="phone-hide" colspan="3"></th>
            <th class="phone-show" colspan="2"></th>
        </tr>
        <tr>
            <th>Location</th>
            <th>WTT</th>
            <th>Public</th>
            <th>WTT</th>
            <th>Depart</th>
            <th>Line</th>
            <th>Platform</th>
            <th class="phone-hide">Allowances</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: $data">
        <tr data-bind="css: { pass: pass }">
            <td class="stationName"><a class="pointer" data-bind="text: location, click: function (d, e) { listStation(d.locationStanox); }"></a></td>
            <td data-bind="text: pass ? 'Pass' : wttArrive, attr: { colspan: pass ? 2 : 1 }"></td>
            <td data-bind="text: publicArrive, visible: !pass"></td>
            <td data-bind="text: pass ? pass : wttDepart, attr: { colspan: pass ? 2 : 1 }"></td>
            <td data-bind="text: pass ? '' : publicDepart, visible: !pass"></td>
            <td data-bind="text: line"></td>
            <td data-bind="text: platform"></td>
            <td class="phone-hide" data-bind="text: allowances"></td>
        </tr>
    </tbody>
</table>