<table class="table table-hover table-bordered table-header-colour">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th class="phone-hide" colspan="3">Arrive</th>
            <th class="phone-show" colspan="2">Arrive</th>
            <th class="phone-hide" colspan="3">Depart</th>
            <th class="phone-show" colspan="2">Depart</th>
            <th class="phone-hide" colspan="3"></th>
            <th class="phone-show"></th>
        </tr>
        <tr>
            <th>Location</th>
            <th class="phone-hide">WTT</th>
            <th>Expected</th>
            <th>Actual</th>
            <th class="phone-hide">WTT</th>
            <th>Expected</th>
            <th>Actual</th>
            <th class="phone-hide">Line</th>
            <th>Platform</th>
            <th class="phone-hide">Allowances</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: $data">
        <tr data-bind="css: { pass: pass }">
            <td class="stationName"><a class="pointer" data-bind="text: location, click: function (d, e) { listStation(d.locationStanox); }"></a></td>
            <td class="phone-hide" data-bind="text: pass ? 'Pass' : wttArrive, attr: { colspan: pass ? 3 : 0 }"></td>
            <td class="phone-show" colspan="2" data-bind="visible: pass">Pass</td>
            <td data-bind="text: publicArrive, visible: !pass"></td>
            <td data-bind="text: actualArrival, visible: !pass"></td>
            <td class="phone-hide" data-bind="text: pass ? pass : wttDepart"></td>
            <td class="phone-show" data-bind="text: pass ? pass : wttDepart, visible: pass"></td>
            <td class="phone-hide" data-bind="text: publicDepart"></td>
            <td class="phone-show" data-bind="text: publicDepart, visible: !pass"></td>
            <td data-bind="text: actualDeparture"></td>
            <td class="phone-hide" data-bind="text: line"></td>
            <td data-bind="text: platform"></td>
            <td class="phone-hide" data-bind="text: allowances"></td>
        </tr>
    </tbody>
</table>
