<table class="table table-hover table-bordered table-header-colour">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th class="phone-hide advanced" colspan="3">Arrive</th>
            <th class="phone-hide simple" colspan="2">Arrive</th>
            <th class="phone-show" colspan="2">Arrive</th>
            <th class="phone-hide advanced" colspan="3">Depart</th>
            <th class="phone-hide simple" colspan="2">Depart</th>
            <th class="phone-show" colspan="2">Depart</th>
            <th class="phone-hide" colspan="3"></th>
            <th class="phone-show"></th>
        </tr>
        <tr>
            @*1*@
            <th>Location</th>
            @*2*@
            <th class="phone-hide advanced">WTT</th>
            @*3*@
            <th>Expected</th>
            @*4*@
            <th>Actual</th>
            @*5*@
            <th class="phone-hide advanced">WTT</th>
            @*6*@
            <th>Expected</th>
            @*7*@
            <th>Actual</th>
            @*8*@
            <th class="phone-hide">Line</th>
            @*9*@
            <th>Pfm</th>
            @*10*@
            <th class="phone-hide">Allowances</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: $data">
        <tr data-bind="css: { pass: pass, cancel: cancel }">
            @*1. ALL - Location*@
            <td class="col station stationName"><a class="pointer" data-bind="text: location, click: function (d, e) { showStation(d.locationStanox); }"></a></td>
            @*2. Advanced - Pass(Pass)/WTT Expected Arrival*@
            <td class="col arrive wtt phone-hide advanced" data-bind="text: pass ? 'Pass' : wttArrive"></td>
            @*3. Advanced - Pass(Empty)/Public Expected Arrival*@
            <td class="col arrive public advanced" data-bind="text: pass ? '' : publicArrive"></td>
            @*3. Simple - Pass(Pass)/Public Expected Arrival*@
            <td class="col arrive public simple" data-bind="text: pass ? 'Pass' : publicArrive"></td>
            @*4. ALL - Actual Arrival*@
            <td class="col arrive actual" data-bind="text: pass ? '' : actualArrival"></td>
            @*5. Advanced - Pass/WTT Expected Departure*@
            <td class="col depart wtt phone-hide advanced" data-bind="text: pass ? pass : wttDepart"></td>
            @*6. Advanced - Pass(Empty)/Public Expected Departure*@
            <td class="col depart public advanced" data-bind="text: pass ? '' : publicDepart"></td>
            @*6. Simple - Pass/Public Expected Departure*@
            <td class="col depart public simple" data-bind="text: pass ? pass : publicDepart"></td>
            @*7. ALL - Actual Departure*@
            <td class="col depart actual" data-bind="text: actualDeparture"></td>
            @*8. ALL - Line*@
            <td class="col extra line phone-hide" data-bind="text: line"></td>
            @*9. ALL - Platform*@
            <td class="col extra platform" data-bind="text: platform"></td>
            @*10. ALL - Allowances*@
            <td class="col extra allowances phone-hide">
                <span data-bind="text: eAllowance, visible: eAllowance" title="Engineering Allowance"></span>
                <span data-bind="text: paAllowance, visible: paAllowance" title="Pathing Allowance"></span>
                <span data-bind="text: peAllowance, visible: peAllowance" title="Performance Allowance"></span>
            </td>
        </tr>
    </tbody>
</table>
<p class="text-info">
    <i class="icon-info-sign"></i>&nbsp;This page shows the Schedule with current running information. Click the <i class="icon-refresh"></i> icon above to activate live tracking.
</p>
