<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@System.Configuration.ConfigurationManager.AppSettings["brandingTitle"]</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/websockets.js"></script>
    <script src="~/Scripts/ajax-lookups.js"></script>
    <script type="text/javascript" 
        src="http://maps.googleapis.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["googleApiKey"]&sensor=false">
    </script>
    <script src="~/Scripts/mapping.js"></script>
    <script type="text/javascript">
        var server = "@System.Configuration.ConfigurationManager.AppSettings["server"]";

        function setCommand(command) {
            $("#filter-command").val(command);
        }

        function parseCommand() {
            var cmdString = $("#filter-command").val();
            var idx = cmdString.indexOf(":");
            if (idx == -1)
                return;

            var cmd = cmdString.substring(0, idx);
            var args = cmdString.substring(idx + 1);

            switch (cmd) {
                case 'getservice':
                    getService(args);
                    break;
            }
        }

        function WttSearchResults() {
            var self = this;

            self.Trains = ko.observableArray();

            self.addTrain = function (stop) {
                self.Trains.push(stop);
            };

            self.clearTrains = function () {
                self.Trains.removeAll();
            }
        }

        function WttSearchResult() {
            var self = this;

            self.TrainId = ko.observable();
            self.WttId = ko.observable();
            self.From = ko.observable();
            self.Depart = ko.observable();
            self.To = ko.observable();
            self.Arrive = ko.observableArray();

            self.addStop = function (stop) {
                self.Stops.push(stop);
            };

            self.clearStops = function () {
                self.Stops.removeAll();
            }
        }

        var currentWttResult = new WttSearchResults();

        function getService(wttId) {
            $.getJSON("http://" + server + ":82/Archive/?GetByWttId&wttId=" + wttId, function (data) {
                for (i in data) {
                    var result = new WttSearchResult();
                    result.TrainId(data[i].TrainId);
                    result.WttId(data[i].WttId);
                    result.From(data[i].From);
                    result.Depart(data[i].Depart);
                    result.To('');
                    result.Arrive('');

                    currentWttResult.addTrain(result);

                    fetchLocation(data[i].From);
                }
            });
        }

        function fetchLocation(stanox) {
            loadLocation(stanox, function (data) {
                var html = "";
                if (data.StationName) {
                    html = data.StationName;
                } else {
                    html = data.Tiploc;
                }
                if (data.CRS) {
                    html += "(" + data.CRS + ")";
                }
                $("." + data.Name).html(html);
                $("." + data.Name).attr('title', data.Description + '(' + data.Name + ')');
                $("." + data.Name).tooltip();
                $("." + data.Name).data("title", html);
            });
        }

        function clearData() {
            currentWttResult.clearTrains();
        }

        $(function () {
            ko.applyBindings(currentWttResult, $("#train-id-result").get(0));

            if (document.location.hash.length > 0) {
                setCommand(document.location.hash.substr(1));
            }
        });

    </script>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">@System.Configuration.ConfigurationManager.AppSettings["brandingTitle"]</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="~/index.cshtml">Live Feed</a></li>
                        <li><a href="~/command.cshtml">Command Screen</a></li>
                        <li class="active"><a href="#">Archive Search</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav" id="locationDetails">
                    <ul class="nav nav-list">
                        <li class="nav-header">Commands</li>
                        <li><a href="#getservice:" onclick="setCommand('getservice:');"><strong>Get Service:</strong> getservice:[wttid]</a></li>
                        @*<li><a href="#gettrain:" onclick="setCommand('gettrain:');"><strong>Get Train:</strong> gettrain:[train id]</a></li>
                        <li><a href="#stanox:" onclick="setCommand('stanox:');"><strong>Get Location Trains:</strong> stanox:[stanox]</a></li>
                        <li><a href="#crs:" onclick="setCommand('crs:');"><strong>Get Location Trains:</strong> crs:[crs]</a></li>*@
                    </ul>
                </div>
            </div>
            <!--/span3-->
            <div class="span9">
                <div class="btn-group">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-asterisk"></i></span>
                        <input type="text" id="filter-command" class="span9" placeholder="Enter Command" />&nbsp;&nbsp;&nbsp;
                        <a class="btn btn_disconnect" id="btn_Command" onclick="parseCommand();" title="Send Command"><i class="icon-arrow-right"></i></a>
                        <a class="btn" href="#" title="Clear data" onclick="clearData();"><i class="icon-remove"></i></a>
                    </div>
                </div>
                <div id="train-id-result" style="height: 200px; overflow: auto;">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Train ID</th>
                                <th>WTT ID</th>
                                <th>From</th>
                                <th>Sched Departure</th>
                                <th>To</th>
                                <th>Sched Arrival</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Trains">
                            <tr>
                                <td><a data-bind="text: TrainId, attr: { href: 'command.cshtml#gettrain:' + TrainId() }"></a></td>
                                <td data-bind="text: WttId"></td>
                                <td><span data-bind="text: From, css: From"></span></td>
                                <td data-bind="text: Depart"></td>
                                <td data-bind="text: To"></td>
                                <td data-bind="text: Arrive"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="trains" style="height: 600px; overflow: auto;">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Location</th>
                                <th>Time</th>
                                <th>Action</th>
                                <th>Line</th>
                                <th>Platform</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Stops">
                            <tr data-bind="css: StateClass, attr: { title: StateTitle }">
                                <td data-bind="text: Stanox"></td>
                                <td><span data-bind="text: ActualTimeStamp, attr: { title: PlannedTime }" class="tooltip-dynamic"></span>&nbsp;<span class="label" data-bind="text: Delay, css: DelayResult, attr: { title: DelayTitle }"></span></td>
                                <td data-bind="text: EventType"></td>
                                <td data-bind="text: Line"></td>
                                <td data-bind="text: Platform"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="map" id="map_canvas" style="display: none; width: 100%; height: 100%"></div>
                </div>
            </div>
            <!--/span9-->
        </div>
        <!--/row-fluid-->
        <hr />
        <footer>
            <p>
                Copyright &copy; Michael Pritchard 2012. <a href="https://twitter.com/blueghostuk" class="twitter-follow-button" data-show-count="false">Follow @@blueghostuk</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                <br />
                Contains information of Network Rail Infrastructure Limited licensed under the following licence:<br />
                <a href="http://www.networkrail.co.uk/data-feeds/terms-and-conditions" target="_blank" title="Opens in new window"><i class="icon-share-alt" title="Opens in new window"></i>www.networkrail.co.uk/data-feeds/terms-and-conditions</a>
                <br />
                Uses: <a href="http://twitter.github.com/bootstrap/" target="_blank"><i class="icon-share-alt" title="Opens in new window"></i>Twitter Bootstrap</a>, 
                <a href="http://alchemywebsockets.net/" target="_blank"><i class="icon-share-alt" title="Opens in new window"></i>Alchemy Websockets</a> (server-side).
                Source: on github <a href="https://github.com/blueghostuk/trainnotifier-server" target="_blank"><i class="icon-share-alt" title="Opens in new window"></i>server</a>,
                <a href="https://github.com/blueghostuk/trainnotifier-webclient" target="_blank"><i class="icon-share-alt" title="Opens in new window"></i>client</a>
            </p>
        </footer>
    </div>
</body>
</html>
