@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    <style type="text/css">

        span.add-on {
            width: 4em !important;
            text-align: left !important;
        }

            span.add-on > i {
                float: right !important;
            }

        div.input-prepend > input {
            width: 350px !important;
        }

        button {
            width: 100px;
        }

        @@media (max-width: 979px) {
            .hero-unit h1 {
                font-size: 30px;
            }

            div.input-prepend > input {
                width: 175px !important;
            }

            .hero-unit {
                padding-left: 20px !important;
            }
        }
    </style>
}
@section FooterJs{
    <script type="text/javascript">
        var server = "@System.Configuration.ConfigurationManager.AppSettings["server"]";
        var apiPort = "@System.Configuration.ConfigurationManager.AppSettings["apiPort"]";
    </script>

    @Scripts.Render("~/bundles/default")
}
@section TopMenu{
    <li class="active"><a>Home</a></li>
    <li><a href="~/search-schedule">Search Schedule</a></li>
    <li><a href="~/train">Train</a></li>
    <li><a href="~/ppm">PPM</a></li>
    <li><a href="~/live">Live Feed</a></li>
}
<div class="container">
    <div class="hero-unit">
        <h1>@System.Configuration.ConfigurationManager.AppSettings["brandingTitle"]</h1>
        <form>
            <div class="row btn-group" style="margin-top: 30px;">
                <div class="input-prepend">
                    <span class="add-on">From:<i class="icon-search"></i>
                    </span>
                    <input type="text" class="station-lookup" id="from-crs" autocomplete="off" placeholder="Type from station name here" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">To:<i class="icon-search"></i>
                    </span>
                    <input type="text" class="station-lookup" id="to-crs" autocomplete="off" placeholder="Type to station name here" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">At:<i class="icon-search"></i>
                    </span>
                    <input type="text" class="station-lookup" id="at-crs" autocomplete="off" placeholder="Type calling at station name here" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">On:<i class="icon-calendar"></i>
                    </span>
                    <input type="text" class="datepicker" placeholder="Date as DD/MM/YYYY (default to today)" id="date-picker" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">At:<i class="icon-time"></i>
                    </span>
                    <input type="text" placeholder="Time as HH:mm (default to +/-2 hour period from now)" id="time-picker" />
                </div>
                <br />
                <p>
                    <button type="submit" class="btn btn-primary">Find</button>
                </p>
            </div>
        </form>        
        <div class="row">
            Search For Trains:
            <ul>
                <li>Starting From: a location</li>
                <li>Calling From: a location, To: a location (Direct Services Only)</li>
                <li>To: a location (terminate at location)</li>
                <li>At: a location (call at location en route)</li>
            </ul>
        </div>
    </div>
</div>
