@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    <style type="text/css">
        @@media (max-width: 979px) {
            .hero-unit h1 {
                font-size: 30px;
            }

            span.add-on, input, select {
                width: 200px !important;
            }

            button {
                width: 214px !important;
            }

            .hero-unit {
                padding-left: 20px !important;
            }
        }

        span.add-on {
            height: 32px !important;
            line-height: 32px !important;
        }

        .input-prepend input {
            height: 32px !important;
        }

        .input-prepend button {
            height: 42px !important;
        }
    </style>
}
@section FooterJs{
    <script type="text/javascript">
        var server = "@System.Configuration.ConfigurationManager.AppSettings["server"]";
        var apiPort = "@System.Configuration.ConfigurationManager.AppSettings["apiPort"]";
    </script>

    @Scripts.Render("~/bundles/default")
}
@section TopMenu{
    <li class="active"><a>Home</a></li>
    <li><a href="~/search-schedule">Search Schedule</a></li>
    <li><a href="~/train">Train</a></li>
    <li><a href="~/live">Live Feed</a></li>
}
<div class="container">
    <div class="hero-unit">
        <h1>@System.Configuration.ConfigurationManager.AppSettings["brandingTitle"]</h1>
        <div class="row btn-group" style="margin-top: 30px;">
            <div class="input-prepend">
                <span class="add-on"><span class="phone-hide">List Trains</span>
                    <select id="type" onchange="typeChange(this);">
                        <option value="listorigin-crs">Starting at</option>
                        <option value="liststation-crs">Calling at</option>
                        <option value="listdest-crs">Terminating at</option>
                        <option value="between">Between</option>
                    </select>
                    <i class="icon-search phone-hide"></i></span>
                <br class="phone-show" />
                <input type="text" class="station-lookup" id="from-crs" autocomplete="off" placeholder="Type station name here" style="width: 200px;" /><br class="phone-show" />
                <input type="text" class="station-lookup" id="to-crs" autocomplete="off" placeholder="Type to station name here" style="display: none; width: 200px;" />
                <span class="add-on phone-hide">
                    <i class="icon-calendar"></i>
                </span>
                <input type="text" class="datepicker" placeholder="Choose a date (default to today)" id="date-picker" /><br class="phone-show" />
                <button type="button" class="btn" onclick="showLocation();">Go</button>
            </div>
        </div>
    </div>
</div>
