@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    <style type="text/css">
        @@media (max-width: 979px) {
            .hero-unit h1 {
                font-size: 30px;
            }

            span.add-on, input, button {
                width: 200px !important;
            }

            .hero-unit {
                padding-left: 20px !important;
            }
        }
    </style>
}
@section FooterJs{
    <script type="text/javascript">
        var server = "@System.Configuration.ConfigurationManager.AppSettings["server"]";
        var apiPort = "@System.Configuration.ConfigurationManager.AppSettings["apiPort"]";
    </script>

    @Scripts.Render("~/bundles/default")
}
@section TopMenu{
    <li class="active"><a>Home</a></li>
    <li><a href="~/search-schedule">Search Schedule</a></li>
    <li><a href="~/train">Train</a></li>
    <li><a href="~/live">Live Feed</a></li>
}
<div class="container">
    <div class="hero-unit">
        <h1>@System.Configuration.ConfigurationManager.AppSettings["brandingTitle"]</h1>
        <div class="row btn-group" style="margin-top: 30px;">
            <div class="input-prepend">
                <span class="add-on">List Trains Originating From&nbsp;<i class="icon-search"></i></span><br class="phone-show" />
                <input type="text" id="station-lookup" autocomplete="off" placeholder="Type station name here" style="width: 350px;" /><br class="phone-show" />
                <button type="button" class="btn" onclick="showLocation();">Go</button>
            </div>
        </div>
    </div>
</div>
