@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    @Styles.Render("~/bundles/css/index")
}
@section FooterJs{
    @Scripts.Render("~/bundles/js/index")
}
@section TopMenu{
    <li class="active"><a>Home</a></li>
    <li><a href="~/search-schedule">Search Schedule</a></li>
    <li><a href="~/train">Train</a></li>
    <li><a href="~/ppm">PPM</a></li>
    <li><a href="~/live">Live Feed</a></li>
}
<div class="container">
    <div class="hero-unit">
        <h1>@System.Configuration.ConfigurationManager.AppSettings["brandingTitle"]</h1>
        <form>
            <div class="row btn-group" style="margin-top: 30px;">
                <div class="input-prepend input-append">
                    <span class="add-on">From:<i class="icon-search"></i>
                    </span>
                    <input type="text" class="station-lookup" id="from-crs" autocomplete="off" placeholder="Type from station name here" />
                    <span class="add-on dropdown">
                        <a class="dropdown-toggle" id="from-local-link" data-toggle="dropdown" onclick="lookupLocalFrom(); return false;" href="#">Local</a>
                        <ul class="dropdown-menu" role="menu" id="from-local" aria-labelledby="from-local-link" data-bind="foreach: $data">
                            <li><a data-bind="text: $data, attr: { onclick: '$(\'#from-crs\').val(\'' + $data + '\'); return false;' }" href="#"></a></li>
                        </ul>
                        <i class="icon-map-marker"></i>
                    </span>
                </div>
                <br />
                <div class="input-prepend input-append">
                    <span class="add-on">To:<i class="icon-search"></i>
                    </span>
                    <input type="text" class="station-lookup" id="to-crs" autocomplete="off" placeholder="Type to station name here" />
                    <span class="add-on dropdown">
                        <a class="dropdown-toggle" id="to-local-link" data-toggle="dropdown" onclick="lookupLocalTo(); return false;" href="#">Local</a>
                        <ul class="dropdown-menu" role="menu" id="to-local" aria-labelledby="to-local-link" data-bind="foreach: $data">
                            <li><a data-bind="text: $data, attr: { onclick: '$(\'#to-crs\').val(\'' + $data + '\'); return false;' }" href="#"></a></li>
                        </ul>
                        <i class="icon-map-marker"></i>
                    </span>
                </div>
                <br />
                <div class="input-prepend input-append">
                    <span class="add-on">At:<i class="icon-search"></i>
                    </span>
                    <input type="text" class="station-lookup" id="at-crs" autocomplete="off" placeholder="Type calling at station name here" />
                    <span class="add-on dropdown">
                        <a class="dropdown-toggle" id="at-local-link" data-toggle="dropdown" onclick="lookupLocalAt(); return false;" href="#">Local</a>
                        <ul class="dropdown-menu" role="menu" id="at-local" aria-labelledby="at-local-link" data-bind="foreach: $data">
                            <li><a data-bind="text: $data, attr: { onclick: '$(\'#at-crs\').val(\'' + $data + '\'); return false;' }" href="#"></a></li>
                        </ul>
                        <i class="icon-map-marker"></i>
                    </span>
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">On:<i class="icon-calendar"></i>
                    </span>
                    <input type="text" class="datepicker" placeholder="Date as DD/MM/YYYY (default to today)" id="date-picker" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">At:<i class="icon-time"></i>
                    </span>
                    <input type="text" placeholder="Time as HH:mm (default to around now)" id="time-picker" />
                </div>
                <br />
                <p>
                    <button type="submit" class="btn btn-primary">Find</button>
                </p>
            </div>
        </form>
        <div class="row">
            Search For Trains:
            <ul>
                <li>Starting From: a location</li>
                <li>Calling From: a location, To: a location (Direct Services Only)</li>
                <li>To: a location (terminate at location)</li>
                <li>At: a location (call at location en route)</li>
            </ul>
        </div>
    </div>
</div>
