@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    @Styles.Render("~/bundles/css/live")
}
@section FooterJs{
    @Scripts.Render("~/bundles/js/live")
}
@section TopMenu{
    <li><a href="~/">Home</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Live <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="~/route">Routes</a></li>
            <li><a href="~/station">Stations</a></li>
            <li><a class="active">Live Feed</a></li>
        </ul>
    </li>
    <li><a href="~/ppm">PPM</a></li>
}
<div class="row">
    <div class="col-md-12">
        <div class="input-group input-group-sm">
            <span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
            <input type="text" class="form-control" id="filter-location" class="span9" placeholder="Filter By Location" />
            <span class="input-group-addon">
                <a class="btn btn-connect" onclick="connectWs();" title="Connect to server"><span class="glyphicon glyphicon-play"></span></a>
                <a class="btn btn-disconnect" onclick="disconnect();" disabled="disabled" title="Disconnect from server"><span class="glyphicon glyphicon-stop"></span></a>
                <a class="btn" href="#" title="Clear table" onclick="clearTable();"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn" href="#" id="status">Connection Status</a>
            </span>
        </div>
        <table class="table table-hover table-bordered" id="table-trains">
            <thead>
                <tr>
                    <th>Train ID</th>
                    <th>Service Code</th>
                    <th>Action</th>
                    <th>Time</th>
                    <th>Direction</th>
                    <th>Platform</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody id="data"></tbody>
        </table>
    </div>
    <!--/span12-->
</div>
<!--/row-fluid-->
<div class="row">
    <p class="text-info">
        <span class="glyphicon glyphicon-info-sign"></span>&nbsp;
        This page shows a raw feed from the server.<br /><br />
        Some data may not be parsed correctly and leaving it connected for a long period may crash your browser.<br /><br />
        Click the<span class="glyphicon glyphicon-play"></span> to connect,<span class="glyphicon glyphicon-stop"></span> to disconnect and<span class="glyphicon glyphicon-remove"></span> to clear the results.
    </p>
</div>
