@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section FooterJs{
    @Scripts.Render("~/bundles/js/liveTrain")
}
@section TopMenu{
    <li><a href="~/">Home</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Live <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="~/route">Routes</a></li>
            <li><a href="~/station">Stations</a></li>
            <li><a href="~/live">Live Feed</a></li>
            <li><a class="active">Live Train Search</a></li>
        </ul>
    </li>
    <li><a href="~/ppm">PPM</a></li>
    <li><a href="~/about">About</a></li>
}
<div class="row">
    <div class="col-md-12">
        <form role="form" id="form">
            <div class="form-group">
                <label for="trainId">Train ID:</label>
                <input type="text" class="form-control" id="trainId" placeholder="Enter Train ID, e.g. 2N39">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="trains">
        <h1 data-bind="text: Describer"></h1>
        <div data-bind="foreach: Trains">
            <table class="table">
                <tbody>
                    <tr>
                        <th>First Seen</th>
                        <td data-bind="text: moment(FirstSeen).format(TrainNotifier.DateTimeFormats.dateTimeFormat)"></td>
                    </tr>
                </tbody>
            </table>
            <h2>Schedule</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Arrival</th>
                        <th>Pass</th>
                        <th>Departure</th>
                        <th>Stanox</th>
                        <th>Platform</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Schedule.Schedule.Stops">
                    <tr>
                        <td data-bind="text: Arrival"></td>
                        <td data-bind="text: Pass"></td>
                        <td data-bind="text: Departure"></td>
                        <td data-bind="text: TiplocStanoxCode"></td>
                        <td data-bind="text: Platform"></td>
                    </tr>
                </tbody>
            </table>
            <h2>Berths</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Area ID</th>
                        <th>Name</th>
                        <th>First Seen</th>
                        <th>Exited</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: BerthsArray">
                    <tr>
                        <td data-bind="text: AreaId"></td>
                        <td data-bind="text: Name"></td>
                        <td data-bind="text: moment(FirstSeen).format(TrainNotifier.DateTimeFormats.dateTimeFormat)"></td>
                        <td data-bind="text: moment(Exited).format(TrainNotifier.DateTimeFormats.dateTimeFormat)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>