@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    @Styles.Render("~/bundles/css/ppm")
}
@section FooterJs{
    @Scripts.Render("~/bundles/js/ppm")
}
@section TopMenu{
    <li><a href="~/">Home</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Live <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="~/route">Routes</a></li>
            <li><a href="~/station">Stations</a></li>
            <li><a href="~/live">Live Feed</a></li>
            <li><a href="~/live-search">Live Train Search</a></li>
        </ul>
    </li>
    <li class="active"><a>PPM</a></li>
    <li><a href="~/about">About</a></li>
}
<div class="row">
    <div class="col-md-2 hidden-xs hidden-sm">
        <div class="list-group" id="commandOptions">
            <a href="#" onclick="return false;" class="list-group-item">
                Operator:
            </a>
            <a class="list-group-item active" href="#all" onclick="showAll(); return false;">All</a>
            <!-- ko foreach: $data -->
            <a class="list-group-item" data-bind="text: Operator, attr: { id: 'op-' + Id(), href: '#' + Id(), onclick: 'viewOperator(\'' + Id() + '\'); return false;' }"></a>
            <!-- /ko -->
        </div>
    </div>
    <!--/span2-->
    <div class="col-md-10">
        <div class="alert alert-info" id="title">
            Last Updated: <span data-bind="text: ts"></span><span style="font-size: small;" title="Approx. update time">(Update in &asymp; <span data-bind="text: next"></span>s)</span>
        </div>
        @RenderPage("_ppmTable.cshtml")
        @RenderPage("_ppmOperator.cshtml")
    </div>
    <!--/span10-->
</div>
<!--/row-fluid-->
<div class="row">
    <p class="text-info">
        <span class="glyphicon glyphicon-info-sign"></span>&nbsp;This page shows the current PPM records.<br />
        Click through each section for more detailed information. Historical data is stored but not currently accessible.<br />
        Keep the page open to automatically get the latest data (or refresh manually)
    </p>
</div>
