@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    @Styles.Render("~/bundles/css/ppm")
}
@section FooterJs{
    @Scripts.Render("~/bundles/js/ppm")
}
@section TopMenu{
    <li><a href="~/">Home</a></li>
    <li><a href="~/search-schedule">Search Schedule</a></li>
    <li><a href="~/train">Train</a></li>
    <li><a href="~/route">Routes</a></li>
    <li class="active"><a>PPM</a></li>
    <li><a href="~/live">Live Feed</a></li>
}
<div class="row-fluid">
    <div class="span2  phone-hide">
        <div class="well sidebar-nav">
            <ul class="nav nav-list" id="commandOptions">
                <li class="nav-header">Operator:</li>
                <li class="active"><a href="#all" onclick="showAll(); return false;">All</a></li>
                <!-- ko foreach: $data -->
                <li data-bind="attr: { id: 'op-' + Id() }"><a data-bind="text: Operator, attr: { href: '#' + Id(), onclick: 'viewOperator(\'' + Id() + '\'); return false;' }"></a></li>
                <!-- /ko -->
            </ul>
        </div>
    </div>
    <!--/span2-->
    <div class="span10">
        <div class="alert alert-info" id="title">
            Last Updated: <span data-bind="text: ts"></span> <span style="font-size:small;" title="Approx. update time">(Update in &asymp; <span data-bind="text: next"></span>s)</span>
        </div>
        @RenderPage("_ppmTable.cshtml")
        @RenderPage("_ppmOperator.cshtml")
    </div>
    <!--/span10-->
</div>
<!--/row-fluid-->
