@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }

        tr.info > td {
            color: black !important;
        }

        .table tbody tr.info > td {
            background-color: #efefef;
        }
        .table tbody tr.info:hover > td {
            background-color: #efefef;
        }
    </style>
}
@section FooterJs{
    <script type="text/javascript">
        var server = "@System.Configuration.ConfigurationManager.AppSettings["server"]";
        var apiPort = "@System.Configuration.ConfigurationManager.AppSettings["apiPort"]";
    </script>

    @Scripts.Render("~/bundles/ppm")
}
@section TopMenu{
    <li><a href="~/index">Home</a></li>
    <li><a href="~/search-schedule">Search Schedule</a></li>
    <li><a href="~/train">Train</a></li>
    <li class="active"><a>PPM</a></li>
    <li><a href="~/live">Live Feed</a></li>
}
<div class="row-fluid">
    <div class="span12">
        <div class="alert alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Click an operator to show sectors for that operator if applicable.
            Data will be refreshed every 65 seconds.
        </div>
        <div class="alert alert-block alert-info" id="title">
            <span style="float:left;">Last Updated: <span data-bind="text: ts"></span></span><span style="font-size:small; float: right;" title="Approx. update time">(Update in &asymp; <span data-bind="text: next"></span>s)</span>
        </div>
        <table class="table table-hover table-bordered" id="ppm">
            <thead>
                <tr>
                    <th>Operator</th>
                    <th>Sector</th>
                    <th>On Time</th>
                    <th>Late</th>
                    <th>Cancel Very Late</th>
                    <th>Total</th>
                    <th>PPM (%)</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: $data">
                <tr data-bind="css: { info: !SubElement }">
                    <td data-bind="visible: !SubElement"><a href="#" data-bind="text: Operator, attr: { onclick: 'fetchOperator(this, ' + Index() + '); return false;' }"></a></td>
                    <td data-bind="visible: SubElement, text: Operator, css: { subElement: SubElement }"></td>
                    <td data-bind="text: Sector"></td>
                    <td><span data-bind="text: OnTime"></span><span title="Previous value" data-bind="visible: PreviousOnTime(), text: ' (' + PreviousOnTime() + ')'"></span></td>
                    <td><span data-bind="text: Late"></span><span title="Previous value" data-bind="visible: PreviousLate(), text: ' (' + PreviousLate() + ')'"></span></td>
                    <td><span data-bind="text: CancelVeryLate"></span><span title="Previous value" data-bind="visible: PreviousCancelVeryLate(), text: ' (' + PreviousCancelVeryLate() + ')'"></span></td>
                    <td><span data-bind="text: Total"></span><span title="Previous value" data-bind="visible: PreviousTotal(), text: ' (' + PreviousTotal() + ')'"></span></td>
                    <td><span data-bind="text: PPM"></span><span title="Previous value" data-bind="visible: PreviousPPM(), text: ' (' + PreviousPPM() + ')'"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--/span12-->
</div>
<!--/row-fluid-->
