@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    @Styles.Render("~/bundles/css/route")
}
@section FooterJs{
    @Scripts.Render("~/bundles/js/route")
}
@section TopMenu{
    <li><a href="~/">Home</a></li>
    <li><a href="~/search-schedule">Search Schedule</a></li>
    <li><a href="~/train">Train</a></li>
    <li class="active"><a>Routes</a></li>
    <li><a href="~/ppm">PPM</a></li>
    <li><a href="~/live">Live Feed</a></li>
    <li><a href="#" id="advancedSwitch" title="Switch Mode">Advanced Mode</a></li>
}
<div class="row">
    <div class="span12">
        Select Route:
        <select onchange="switchRoute($(this.options[this.selectedIndex]).data('routeid'));">
            <option data-routeid="xcs">XCity South</option>
            <option data-routeid="wvh">WVH-BHM</option>
        </select>
    </div>
</div>
<div class="row-fluid">
    <div class="span3">
        <table id="route">
            <tbody data-bind="foreach: $data">
                <tr>
                    <td class="berth down" data-bind="text: down.contents, attr: { title: down.timestamp }, click: function () { showTrain(down); }"></td>
                    <td class="comment down" data-bind="text: down.text, css: { label: down.label }"></td>
                    <td class="berth up" data-bind="text: up.contents, attr: { title: up.timestamp }, click: function () { showTrain(up); }"></td>
                    <td class="comment up" data-bind="text: up.text, css: { label: down.label }"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--/span3-->
    <div class="span9">
        <div class="row" id="title" data-bind="visible: id">
            <span data-bind="text: id" class="xxl"></span>
            <span data-bind="text: from" class="stationName xl"></span>&nbsp;to&nbsp;
            <span data-bind="text: to" class="stationName xl"></span>
            <span data-bind="text: start"></span>&nbsp;-&nbsp;
            <span data-bind="text: end"></span>
            <span data-bind="text: fullTitle" class="hide"></span>
            <hr style="margin: 5px 0px;" />
        </div>
    </div>
    <!--/span9-->
</div>
<!--/row-fluid-->
