@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    @Styles.Render("~/bundles/css/search-schedule")
}
@section FooterJs{
    @Scripts.Render("~/bundles/js/search-schedule")
}
@section TopMenu{
    <li><a href="~/">Home</a></li>
    <li class="active"><a>Search Schedule</a></li>
    <li><a href="~/train">Train</a></li>
    <li><a href="~/ppm">PPM</a></li>
    <li><a href="~/live">Live Feed</a></li>
}
<div class="row-fluid">
    <div class="span2 phone-hide">
        <div class="well sidebar-nav">
            <ul class="nav nav-list" id="commandOptions">
                <li class="nav-header">By CRS Code:</li>
                <li id="from-crs"><a href="#from/" onclick="thisPage.setCommand('from/');"><strong>Trains Stating From:</strong><br />
                    &nbsp;&nbsp;from/[CRS]</a></li>
                <li id="at-crs"><a href="#at/" onclick="thisPage.setCommand('at/');"><strong>Trains Calling At:</strong><br />
                    &nbsp;&nbsp;at/[CRS]</a></li>
                <li id="to-crs"><a href="#to/" onclick="thisPage.setCommand('to/');"><strong>Trains Terminating At:</strong><br />
                    &nbsp;&nbsp;to/[CRS]</a></li>
                <li id="from-to-crs"><a href="#from/" onclick="thisPage.setCommand('from/');"><strong>Trains going from [A] to [B]:</strong><br />
                    &nbsp;&nbsp;from/[CRS-A]/to/[CRS-B]</a></li>
                <li class="nav-header">By Stanox Code:</li>
                <li id="from"><a href="#from/" onclick="thisPage.setCommand('from/');"><strong>Trains Stating From:</strong><br />
                    &nbsp;&nbsp;from/[stanox]</a></li>
                <li id="at"><a href="#at/" onclick="thisPage.setCommand('at/');"><strong>Trains Calling At:</strong><br />
                    &nbsp;&nbsp;at/[stanox]</a></li>
                <li id="to"><a href="#to:" onclick="thisPage.setCommand('to/');"><strong>Trains Terminating At:</strong><br />
                    &nbsp;&nbsp;to/[stanox]</a></li>
                <li id="from-to"><a href="#from/" onclick="thisPage.setCommand('from');"><strong>Trains going from [A] to [B]:</strong><br />
                    &nbsp;&nbsp;from/[stanox-A]/to/[stanox-B]</a></li>
            </ul>
        </div>
        <div class="well sidebar-nav" id="stationDetails">
            <ul class="nav nav-list">
                <li class="nav-header" data-bind="text: name">Station Details</li>
                <li><strong>CRS:</strong><span data-bind="text: crsCode"></span></li>
                <li><a data-bind="attr: { href: 'search/from/' + url(), onclick: 'setHash(\'from/' + url() + '\');' }" title="View Trains Starting from this station">Trains Starting From</a></li>
                <li><a data-bind="attr: { href: 'search/at/' + url(), onclick: 'setHash(\'at/' + url() + '\');' }" title="View Trains Calling at this station">Trains Calling At</a></li>
                <li><a data-bind="attr: { href: 'search/to/' + url(), onclick: 'setHash(\'to/' + url() + '\');' }" title="View Trains Terminating at this station">Trains Terminating At</a></li>
            </ul>
        </div>
    </div>
    <!--/span2-->
    <div class="span10">
        <div class="row alert alert-info hide" id="no-results-row">
            <strong>No Results Found</strong>
        </div>
        <div class="row alert alert-error hide" id="error-row">
            <strong>Error fetching data. Please Refresh to try again</strong>
        </div>
        <div class="progress progress-striped active hide">
            <div class="bar" style="width: 100%"></div>
        </div>
        <div class="row pagination" id="title" data-bind="visible: From">
            <span data-bind="text: From" class="stationName xl"></span><span data-bind="visible: To">&nbsp;to&nbsp;</span>
            <span data-bind="text: To" class="stationName xl"></span>
            <br />
            <span data-bind="text: DateRange"></span>
            <hr style="margin: 5px 0px;" />
        </div>
        <div class="row">
            <ul class="pager">
                <li><a href="#" onclick="previousDate(); return false;" class="neg-hrs">&lt; Earlier</a></li>
                <li><a href="#" onclick="nextDate(); return false;" class="plus-hrs">Later &gt;</a></li>
            </ul>
            <table class="table table-hover table-bordered table-header-colour" id="starting-at-search-results" data-bind="visible: $data.length > 0">
                <thead class="header">
                    <tr>
                        <th colspan="2"></th>
                        <th colspan="2">From</th>
                        <th class="phone-hide" colspan="3">Departure</th>
                        <th class="phone-show" colspan="2">Departure</th>
                        <th colspan="2">To</th>
                        <th class="phone-hide" colspan="3">Arrival</th>
                        <th class="phone-show" colspan="2">Arrival</th>
                    </tr>
                    <tr>
                        <th class="phone-hide">Train ID</th>
                        <th class="phone-show">ID</th>
                        <th class="phone-hide">Operator</th>
                        <th class="phone-show">Op</th>
                        <th>Station</th>
                        <th class="phone-hide">Platform</th>
                        <th class="phone-show">P</th>
                        <th class="phone-hide">Public</th>
                        <th class="phone-show">Ex</th>
                        <th class="phone-hide">WTT</th>
                        <th class="phone-hide">Actual</th>
                        <th class="phone-show">Act</th>
                        <th>Station</th>
                        <th class="phone-hide">Platform</th>
                        <th class="phone-show">P</th>
                        <th class="phone-hide">Public</th>
                        <th class="phone-show">Ex</th>
                        <th class="phone-hide">WTT</th>
                        <th class="phone-hide">Actual</th>
                        <th class="phone-show">Act</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: $data">
                    <tr>
                        <td><a data-bind="text: headCode, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a></td>
                        <td data-bind="text: operatorCode, attr: { title: operatorName }"></td>
                        <td class="stationName">
                            <span data-bind="text: fromStation"></span>
                        </td>
                        <td data-bind="text: fromPlatform"></td>
                        <td class="time" title="Public Departure" data-bind="text: publicDeparture"></td>
                        <td class="phone-hide" title="WTT Departure" data-bind="text: wttDeparture"></td>
                        <td class="time" title="Actual Departure" data-bind="text: actualDeparture"></td>
                        <td class="stationName">
                            <span data-bind="text: toStation"></span>
                        </td>
                        <td data-bind="text: toPlatform"></td>
                        <td class="time" title="Public Arrival" data-bind="text: publicArrival"></td>
                        <td class="phone-hide" title="WTT Arrival" data-bind="text: wttArrival"></td>
                        <td class="time" title="Actual Arrival" data-bind="text: actualArrival"></td>
                    </tr>
                </tbody>
            </table>
            <ul class="pager">
                <li><a href="#" onclick="previousDate(); return false;" class="neg-hrs">&lt; Earlier</a></li>
                <li><a href="#" onclick="nextDate(); return false;" class="plus-hrs">Later &gt;</a></li>
            </ul>
        </div>
    </div>
    <!--/span10-->
</div>
<!--/row-fluid-->
