@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
}
@section FooterJs{
    <script type="text/javascript">
        var server = "@System.Configuration.ConfigurationManager.AppSettings["server"]";
        var apiPort = "@System.Configuration.ConfigurationManager.AppSettings["apiPort"]";
        var wsPort = "@System.Configuration.ConfigurationManager.AppSettings["wsPort"]";
    </script>

    @Scripts.Render("~/bundles/search-schedule")
}
@section TopMenu{
    <li><a href="~/index">Home</a></li>
    <li class="active"><a>Search Schedule</a></li>
    <li><a href="~/train">Train</a></li>
    <li><a href="~/live">Live Feed</a></li>
}
<div class="row-fluid">
    <div class="span2 phone-hide">
        <div class="well sidebar-nav" id="locationDetails">
            <ul class="nav nav-list">
                <li class="nav-header">By CRS Code:</li>
                <li><a href="#listorigin-crs:" onclick="setCommand('listorigin-crs:');"><strong>List Trains Originating From:</strong><br />
                    &nbsp;&nbsp;listorigin-crs:[CRS]</a></li>
                <li><a href="#listorigin-crs:" onclick="setCommand('liststation-crs:');"><strong>List Trains Calling At:</strong><br />
                    &nbsp;&nbsp;liststation-crs:[CRS]</a></li>
                <li><a href="#listdest-crs:" onclick="setCommand('listdest-crs:');"><strong>List Trains Terminating At:</strong><br />
                    &nbsp;&nbsp;listdest-crs:[CRS]</a></li>
                <li class="nav-header">By Stanox Code:</li>
                <li><a href="#listorigin:" onclick="setCommand('listorigin:');"><strong>List Trains Originating From:</strong><br />
                    &nbsp;&nbsp;listorigin:[stanox]</a></li>
                <li><a href="#listorigin:" onclick="setCommand('liststation:');"><strong>List Trains Calling At:</strong><br />
                    &nbsp;&nbsp;liststation:[stanox]</a></li>
                <li><a href="#listdest:" onclick="setCommand('listdest:');"><strong>List Trains Terminating At:</strong><br />
                    &nbsp;&nbsp;listdest:[stanox]</a></li>
            </ul>
        </div>
        <div class="well sidebar-nav" id="stationDetails">
            <ul class="nav nav-list">
                <li class="nav-header" data-bind="text: toDisplay()">Station Details</li>
                <li><strong>CRS:</strong><span data-bind="text: locationCRS"></span></li>
                <li><a data-bind="attr: { href :'search-schedule#listorigin:' + locationStanox(), onclick: 'setHash(\'listorigin:' + locationStanox() + '\');' }" title="View Trains Starting from this station">Trains Starting From</a></li>
                <li><a data-bind="attr: { href :'search-schedule#liststation:' + locationStanox(), onclick: 'setHash(\'liststation:' + locationStanox() + '\');' }" title="View Trains Calling from this station">Trains Calling At</a></li>
            </ul>
        </div>
        <div class="well sidebar-nav">
            <p class="centerText" style="padding: 4px;">
                At the moment this only shows trains that have been Activated.<br />
                <br />
                Empty rows are activations not matched to a schedule.<br />
                <br />
                Use #DDMMYYY at the end of a command to specify a date manually
            </p>
        </div>
    </div>
    <!--/span2-->
    <div class="span10">
        <div class="row alert alert-info" id="no-results-row" style="display: none">
            <strong>No Results Found</strong>
        </div>
        <div class="row btn-group">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-asterisk"></i></span>
                <input type="text" id="filter-command" class="span9" placeholder="Enter Command" />&nbsp;&nbsp;&nbsp;
                <a class="btn btn_disconnect" id="btn_Command" onclick="parseCommand();" title="Send Command"><i class="icon-arrow-right"></i></a>
                <a class="btn" href="#" title="Clear data" onclick="clearData();"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="progress progress-striped active hide">
            <div class="bar" style="width: 100%"></div>
        </div>
        <div class="row">
            <table class="table table-hover table-bordered table-header-colour" id="origin-search-results" data-bind="visible: Trains().length > 0">
                <thead class="header">
                    <tr>
                        <th><a style="cursor: pointer;" onclick="previousDate(); return false;" title="Previous Day">&lt;&nbsp;<span class="phone-hide" data-bind="text: PreviousDay"></span></a></th>
                        <th colspan="10" class="centerText phone-hide" data-bind="text: Day"></th>
                        <th colspan="8" class="centerText phone-show" data-bind="text: Day"></th>
                        <th><a style="cursor: pointer;" onclick="nextDate(); return false;" title="Next Day"><span class="phone-hide" data-bind="text: NextDay"></span>&nbsp;&gt;</a></th>
                    </tr>
                    <tr>
                        <th colspan="2"></th>
                        <th colspan="2">From</th>
                        <th class="phone-hide" colspan="3">Departure</th>
                        <th class="phone-show" colspan="2">Departure</th>
                        <th colspan="2">To</th>
                        <th class="phone-hide" colspan="3">Arrival</th>
                        <th class="phone-show" colspan="2">Arrival</th>
                    </tr>
                    <tr>
                        <th class="phone-hide">Train ID</th>
                        <th class="phone-show">ID</th>
                        <th class="phone-hide">Operator</th>
                        <th class="phone-show">Op</th>
                        <th>Station</th>
                        <th class="phone-hide">Platform</th>
                        <th class="phone-show">P</th>
                        <th class="phone-hide">Public</th>
                        <th class="phone-show">Ex</th>
                        <th class="phone-hide">WTT</th>
                        <th class="phone-hide">Actual</th>
                        <th class="phone-show">Act</th>
                        <th>Station</th>
                        <th class="phone-hide">Platform</th>
                        <th class="phone-show">P</th>
                        <th class="phone-hide">Public</th>
                        <th class="phone-show">Ex</th>
                        <th class="phone-hide">WTT</th>
                        <th class="phone-hide">Actual</th>
                        <th class="phone-show">Act</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Trains">
                    <tr data-bind="css: { error: Cancellation, info: ChangeOfOrigin, reinstatement: Reinstatement }, attr: { title: Tooltip }">
                        <td><a data-bind="text: HeadCode, attr: { href: 'train#getuid:' + TrainUid() + '#' + SchedOriginDeparture().substring(0, 10) }"></a></td>
                        <td data-bind="text: AtocCode.Code, attr: { title: AtocCode.Name }"></td>
                        <td class="stationName">
                            <span data-bind="text: Origin.Description, css: { changeOfOrigin: ChangeOfOrigin }"></span>
                            <!-- ko if: ChangeOfOrigin -->
                            <br />
                            <span data-bind="text: ChangeOfOrigin.NewOrigin.Description().toLowerCase()"></span>
                            <!-- /ko -->
                        </td>
                        <td data-bind="text: Origin.Platform"></td>
                        <td class="time" title="Public Departure" data-bind="text: Origin.PublicDeparture"></td>
                        <td class="phone-hide" title="WTT Departure" data-bind="text: Origin.Departure"></td>
                        <td class="time" title="Actual Departure" data-bind="text: ActualDeparture"></td>
                        <td class="stationName">
                            <span data-bind="text: Destination.Description, css: { changeOfDestination: Cancellation && Cancellation.Type && Cancellation.Type() == 'EN ROUTE' }"></span>
                            <!-- ko if: Cancellation && Cancellation.Type && Cancellation.Type() == 'EN ROUTE' -->
                            <br />
                            <span data-bind="text: Cancellation.CancelledAt.Description().toLowerCase()"></span>
                            <!-- /ko -->
                        </td>
                        <td data-bind="text: Destination.Platform"></td>
                        <td class="time" title="Public Arrival" data-bind="text: Destination.PublicArrival"></td>
                        <td class="phone-hide" title="WTT Arrival" data-bind="text: Destination.Arrival"></td>
                        <td class="time" title="Actual Arrival" data-bind="text: ActualArrival"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th><a style="cursor: pointer;" onclick="previousDate(); return false;" title="Previous Day">&lt;&nbsp;<span class="phone-hide" data-bind="text: PreviousDay"></span></a></th>
                        <th colspan="10" class="centerText phone-hide" data-bind="text: Day"></th>
                        <th colspan="8" class="centerText phone-show" data-bind="text: Day"></th>
                        <th><a style="cursor: pointer;" onclick="nextDate(); return false;" title="Next Day"><span class="phone-hide" data-bind="text: NextDay"></span>&nbsp;&gt;</a></th>
                    </tr>
                </tfoot>
            </table>
            <table class="table table-hover table-bordered table-header-colour" id="callingAt-search-results" data-bind="visible: Trains().length > 0">
                <thead class="header">
                    <tr>
                        <th><a style="cursor: pointer;" onclick="previousCallingAtDate(); return false;" title="Previous Day">&lt;&nbsp;<span class="phone-hide" data-bind="text: PreviousDay"></span></a></th>
                        <th colspan="9" class="centerText phone-hide" data-bind="text: Day"></th>
                        <th colspan="7" class="centerText phone-show" data-bind="text: Day"></th>
                        <th><a style="cursor: pointer;" onclick="nextCallingAtDate(); return false;" title="Next Day"><span class="phone-hide" data-bind="text: NextDay"></span>&nbsp;&gt;</a></th>
                    </tr>
                    <tr>
                        <th colspan="2"></th>
                        <th>From</th>
                        <th></th>
                        <th class="phone-hide" colspan="3">Arrival</th>
                        <th class="phone-show" colspan="2">Arrival</th>
                        <th class="phone-hide" colspan="3">Departure</th>
                        <th class="phone-show" colspan="2">Departure</th>
                        <th>To</th>
                    </tr>
                    <tr>
                        <th class="phone-hide">Train ID</th>
                        <th class="phone-show">ID</th>
                        <th class="phone-hide">Operator</th>
                        <th class="phone-show">Op</th>
                        <th>Station</th>
                        <th class="phone-hide">Platform</th>
                        <th class="phone-show">P</th>
                        <th class="phone-hide">Public</th>
                        <th class="phone-show">Ex</th>
                        <th class="phone-hide">WTT</th>
                        <th class="phone-hide">Actual</th>
                        <th class="phone-show">Act</th>
                        <th class="phone-hide">Public</th>
                        <th class="phone-show">Ex</th>
                        <th class="phone-hide">WTT</th>
                        <th class="phone-hide">Actual</th>
                        <th class="phone-show">Act</th>
                        <th>Station</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Trains">
                    <tr data-bind="css: { pass: Pass, cancel: Cancellation, info: ChangeOfOrigin, reinstatement: Reinstatement  }, attr: { title: Tooltip }">
                        <td><a data-bind="text: HeadCode, attr: { href: 'train#getuid:' + TrainUid() + '#' + SchedOriginDeparture().substring(0, 10) }"></a></td>
                        <td data-bind="text: AtocCode.Code, attr: { title: AtocCode.Name }"></td>
                        <td class="stationName">
                            <span data-bind="text: Origin.Description, css: { changeOfOrigin: ChangeOfOrigin }"></span>
                            <!-- ko if: ChangeOfOrigin -->
                            <br />
                            <span data-bind="text: ChangeOfOrigin.NewOrigin.Description().toLowerCase()"></span>
                            <!-- /ko -->
                        </td>
                        <td data-bind="text: Origin.Platform"></td>
                        <td title="Public Arrival" data-bind="text: Origin.PublicArrival, visible: !Pass()"></td>
                        <td class="phone-hide" title="WTT Arrival" data-bind="text: Pass() ? 'Pass' : Origin.Arrival, attr: { colspan: Pass() ? 2 : 0 }"></td>
                        <td class="phone-show" colspan="2" data-bind="visible: Pass()">Pass</td>
                        <td title="Actual Arrival" data-bind="text: ActualArrival"></td>
                        <td title="Public Departure" data-bind="text: Destination.PublicDeparture, visible: !Pass()"></td>
                        <td class="phone-hide" title="WTT Departure" data-bind="text: Pass() ? Pass : Destination.Departure, attr: { colspan: Pass() ? 2 : 0 }"></td>
                        <td class="phone-show" data-bind="text: Pass, visible: Pass()"></td>
                        <td class="phone-hide" title="Actual Departure" data-bind="text: ActualDeparture"></td>
                        <td class="phone-show" title="Actual Departure" data-bind="text: ActualDeparture, visible: !Pass()"></td>
                        <td class="stationName">
                            <span data-bind="text: Destination.Description, css: { changeOfDestination: Cancellation && Cancellation.Type && Cancellation.Type() == 'EN ROUTE' }"></span>
                            <!-- ko if: Cancellation && Cancellation.Type && Cancellation.Type() == 'EN ROUTE' -->
                            <br />
                            <span data-bind="text: Cancellation.CancelledAt.Description().toLowerCase()"></span>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th><a style="cursor: pointer;" onclick="previousCallingAtDate(); return false;" title="Previous Day">&lt;&nbsp;<span class="phone-hide" data-bind="text: PreviousDay"></span></a></th>
                        <th colspan="9" class="centerText phone-hide" data-bind="text: Day"></th>
                        <th colspan="7" class="centerText phone-show" data-bind="text: Day"></th>
                        <th><a style="cursor: pointer;" onclick="nextCallingAtDate(); return false;" title="Next Day"><span class="phone-hide" data-bind="text: NextDay"></span>&nbsp;&gt;</a></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!--/span10-->
</div>
<!--/row-fluid-->
