@{
    if (TrainNotifier.WebClient.Handlers.HandlerHelper.IsGoogleRequest(Request.Url))
    {
        if (TrainNotifier.WebClient.Handlers.AtHandler.IsAtRequest(Request.Url))
        {
            var handler = new TrainNotifier.WebClient.Handlers.AtHandler(Response);
            handler.ProcessRequest(Request.Url);
            return;
        }
        else if (TrainNotifier.WebClient.Handlers.FromHandler.IsFromRequest(Request.Url))
        {
            var handler = new TrainNotifier.WebClient.Handlers.FromHandler(Response);
            handler.ProcessRequest(Request.Url);
            return;
        }
        else if (TrainNotifier.WebClient.Handlers.ToHandler.IsToRequest(Request.Url))
        {
            var handler = new TrainNotifier.WebClient.Handlers.ToHandler(Response);
            handler.ProcessRequest(Request.Url);
            return;
        }
    }

}
@{
    Layout = "~/_Layout.cshtml";
}

@using System.Web.Optimization;
@section CustomCss{
    @Styles.Render("~/bundles/css/search-schedule")
}
@section FooterJs{
    @Scripts.Render("~/bundles/js/search-schedule")
}
@section TopMenu{
    <li><a href="~/">Home</a></li>
    <li class="active"><a>Schedule</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Live <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="~/route">Routes</a></li>
            <li><a href="~/station">Stations</a></li>
            <li><a href="~/live">Live Feed</a></li>
        </ul>
    </li>
    <li><a href="~/ppm">PPM</a></li>
    <li><a href="~/about">About</a></li>
    <li><a href="#" id="advancedSwitch" title="Switch to this Mode">Advanced</a></li>
}
<div class="row">
    <div class="col-md-12" id="resultsBlock">
        <div class="row alert alert-info hide" id="no-results-row">
            <strong>No Results Found</strong>
        </div>
        <div class="row alert alert-error hide" id="error-row">
            <strong>Error fetching data. Please Refresh to try again</strong>
        </div>
        <div class="progress progress-striped active">
            <div class="progress-bar" role="progressbar" style="width: 100%"></div>
        </div>
        <div class="row" id="title" data-bind="visible: from">
            <a data-bind="attr: { href: link, title: title }"><span data-bind="text: from" class="stationName xl"></span><span data-bind="visible: to">&nbsp;to&nbsp;</span><span data-bind="text: to" class="stationName xl"></span></a>
            <br />
            <span data-bind="text: DateRange"></span>
            <hr style="margin: 5px 0px;" />
        </div>
        <div class="row">
            <ul class="pager">
                <li class="previous"><a href="#" onclick="previousDate(); return false;" class="neg-hrs">← Earlier</a></li>
                <li class="next"><a href="#" onclick="nextDate(); return false;" class="plus-hrs">Later →</a></li>
            </ul>
            <div id="start-end-at-search-results" data-bind="visible: $data.length > 0">
                <table class="table table-hover table-bordered table-header-colour">
                    <thead class="header">
                        <tr>
                            <!-- 1 -->
                            <th class="visible-md visible-lg" colspan="2"></th>
                            <!-- 2 -->
                            <th colspan="2">From</th>
                            <!-- 3 -->
                            <th class="visible-md visible-lg" colspan="3">Departure</th>
                            <th class="visible-xs visible-sm" rowspan="2">Dept</th>
                            <!-- 4 -->
                            <th colspan="2">To</th>
                            <!-- 5 -->
                            <th class="visible-md visible-lg" colspan="3">Arrival</th>
                            <th class="visible-xs visible-sm" rowspan="2">Arr</th>
                        </tr>
                        <tr>
                            <!-- 1 -->
                            <th class="visible-md visible-lg">Train ID</th>
                            <th class="visible-md visible-lg">Operator</th>
                            <!-- 2 -->
                            <th>Station</th>
                            <th class="visible-md visible-lg">Pfm</th>
                            <th class="visible-xs visible-sm">P</th>
                            <!-- 3 -->
                            <th class="visible-md visible-lg">Public</th>
                            <th class="visible-md visible-lg advanced">WTT</th>
                            <th class="visible-md visible-lg">Actual</th>
                            <!-- 4 -->
                            <th>Station</th>
                            <th class="visible-md visible-lg">Pfm</th>
                            <th class="visible-xs visible-sm">P</th>
                            <!-- 5 -->
                            <th class="visible-md visible-lg">Public</th>
                            <th class="visible-md visible-lg advanced">WTT</th>
                            <th class="visible-md visible-lg">Actual</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $data">
                        <tr data-bind="css: computedCss, attr: { title: title }">
                            <!-- 1 -->
                            <td class="visible-md visible-lg">
                                <a data-bind="text: headCode, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg">
                                <a data-bind="text: operatorCode, attr: { title: operatorName, href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <!-- 2 -->
                            <td class="stationName" data-bind="css: fromStationCss">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">
                                    <span data-bind="text: fromStation, css: { changeOfOrigin: changeOfOriginStation }"></span>
                                    <span data-bind="text: changeOfOriginStation"></span>
                                </a>
                            </td>
                            <td>
                                <a data-bind="text: fromPlatform, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <!-- 3 -->
                            <td class="visible-md visible-lg time" title="Public Departure">
                                <a data-bind="text: publicDeparture, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg" title="WTT Departure">
                                <a data-bind="text: wttDeparture, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg time" title="Actual Departure">
                                <a data-bind="text: actualDeparture, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-xs visible-sm time">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">
                                    <!-- ko if: actualDeparture -->
                                    <span style="font-weight: bold;" data-bind="text: actualDeparture"></span>
                                    <!-- /ko -->
                                    <!-- ko if: !actualDeparture -->
                                    <!-- ko if: publicDeparture -->
                                    <span style="font-style: italic;" data-bind="text: publicDeparture"></span>
                                    <!-- /ko -->
                                    <!-- ko if: !publicDeparture -->
                                    <span style="font-style: italic;" data-bind="text: wttDeparture"></span>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </a>
                            </td>
                            <!-- 4 -->
                            <td class="stationName" data-bind="css: toStationCss">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">
                                    <span data-bind="text: toStation, css: { changeOfDestination: cancelEnRoute }"></span>
                                    <span data-bind="text: cancelEnRoute"></span>
                                </a>
                            </td>
                            <td>
                                <a data-bind="text: toPlatform, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <!-- 5 -->
                            <td class="visible-md visible-lg time" title="Public Arrival">
                                <a data-bind="text: publicArrival, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg" title="WTT Arrival">
                                <a data-bind="text: wttArrival, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg time" title="Actual Arrival">
                                <a data-bind="text: actualArrival, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-xs visible-sm time">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">
                                    <!-- ko if: actualArrival -->
                                    <span style="font-weight: bold;" data-bind="text: actualArrival"></span>
                                    <!-- /ko -->
                                    <!-- ko if: !actualArrival -->
                                    <!-- ko if: publicArrival -->
                                    <span style="font-style: italic;" data-bind="text: publicArrival"></span>
                                    <!-- /ko -->
                                    <!-- ko if: !publicArrival -->
                                    <span style="font-style: italic;" data-bind="text: wttArrival"></span>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="calling-at-search-results" data-bind="visible: $data.length > 0">
                <table class="table table-hover table-bordered table-header-colour">
                    <thead class="header">
                        <tr>
                            <!-- 1 -->
                            <th class="visible-md visible-lg" colspan="2"></th>
                            <!-- 2 -->
                            <th class="visible-md visible-lg" colspan="3">Arrival</th>
                            <th class="visible-xs visible-sm" rowspan="2">Arr</th>
                            <!-- 3 -->
                            <th rowspan="2">From</th>
                            <!-- 4 -->
                            <th class="visible-md visible-lg centerText" rowspan="2">Pfm</th>
                            <th class="visible-xs visible-sm centerText" rowspan="2">P</th>
                            <!-- 5 -->
                            <th rowspan="2">To</th>
                            <!-- 6 -->
                            <th class="visible-md visible-lg" colspan="3">Departure</th>
                            <th class="visible-xs visible-sm" rowspan="2">Dept</th>
                        </tr>
                        <tr>
                            <!-- 1 -->
                            <th class="visible-md visible-lg">ID</th>
                            <th class="visible-md visible-lg">Operator</th>
                            <!-- 2 -->
                            <th class="visible-md visible-lg">Public</th>
                            <th class="visible-md visible-lg advanced">WTT</th>
                            <th class="visible-md visible-lg">Actual</th>
                            <!-- 3 rowspan2 -->
                            <!-- 4 rowspan2 -->
                            <!-- 5 rowspan2 -->
                            <!-- 6 -->
                            <th class="visible-md visible-lg">Public</th>
                            <th class="visible-md visible-lg advanced">WTT</th>
                            <th class="visible-md visible-lg">Actual</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $data">
                        <tr data-bind="css: computedCss, attr: { title: title }">
                            <!-- 1 -->
                            <td class="visible-md visible-lg">
                                <a data-bind="text: headCode, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg">
                                <a data-bind="text: operatorCode, attr: { title: operatorName, href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <!-- 2 -->
                            <td class="visible-md visible-lg time" title="Public Arrival">
                                <a data-bind="text: atPublicArrival, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg" title="WTT Arrival">
                                <a data-bind="text: atWttArrival, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg time" title="Actual Arrival">
                                <a data-bind="text: atActualArrival, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-xs visible-sm time">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">
                                    <!-- ko if: atActualArrival -->
                                    <span style="font-weight: bold;" data-bind="text: atActualArrival"></span>
                                    <!-- /ko -->
                                    <!-- ko if: !atActualArrival -->
                                    <!-- ko if: atPublicArrival && atPublicArrival == "Pass" -->
                                    <span style="font-style: italic;" data-bind="text: atWttArrival"></span>
                                    <!-- /ko -->
                                    <!-- ko if: atPublicArrival && atPublicArrival != "Pass" -->
                                    <span style="font-style: italic;" data-bind="text: atPublicArrival"></span>
                                    <!-- /ko -->
                                    <!-- ko if: !atPublicArrival -->
                                    <span style="font-style: italic;" data-bind="text: atWttArrival"></span>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </a>
                            </td>
                            <!-- 3 -->
                            <td class="stationName" data-bind="css : fromStationCss">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">
                                    <span data-bind="text: fromStation, css: { changeOfOrigin: changeOfOriginStation }"></span>
                                    <span data-bind="text: changeOfOriginStation"></span>
                                </a>
                            </td>
                            <!-- 4 -->
                            <td class="centerText" data-bind="text: atPlatform">
                                <a data-bind="text: atPlatform, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <!-- 5 -->
                            <td class="stationName" data-bind="css: toStationCss">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">
                                    <span data-bind="text: toStation, css: { changeOfDestination: cancelEnRoute }"></span>
                                    <span data-bind="text: cancelEnRoute"></span>
                                </a>
                            </td>
                            <!-- 6 -->
                            <td class="visible-md visible-lg time" title="Public Departure">
                                <a data-bind="text: atPublicDeparture, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg" title="WTT Departure">
                                <a data-bind="text: atWttDeparture, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg time" title="Actual Departure">
                                <a data-bind="text: atActualDeparture, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-xs visible-sm time">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">
                                    <!-- ko if: atActualDeparture -->
                                    <span style="font-weight: bold;" data-bind="text: atActualDeparture"></span>
                                    <!-- /ko -->
                                    <!-- ko if: !atActualDeparture -->
                                    <!-- ko if: atPublicDeparture && atPublicDeparture == "Pass" -->
                                    <span style="font-style: italic;" data-bind="text: atWttDeparture"></span>
                                    <!-- /ko -->
                                    <!-- ko if: atPublicDeparture && atPublicDeparture != "Pass" -->
                                    <span style="font-style: italic;" data-bind="text: atPublicDeparture"></span>
                                    <!-- /ko -->
                                    <!-- ko if: !atPublicDeparture -->
                                    <span style="font-style: italic;" data-bind="text: atWttDeparture"></span>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="calling-between-search-results" data-bind="visible: results().length > 0">
                <table class="table table-hover table-bordered table-header-colour">
                    <thead class="header">
                        <tr>
                            <!-- 1 -->
                            <th class="visible-md visible-lg" colspan="2"></th>
                            <th class="visible-xs visible-sm" rowspan="2">ID</th>
                            <!-- 2 -->
                            <th rowspan="2">From</th>
                            <!-- 3 -->
                            <th rowspan="2">To</th>
                            <!-- 4 -->
                            <th class="visible-md visible-lg" colspan="4">Departure from <span class="stationName" data-bind="text: fromStation"></span></th>
                            <th class="visible-xs visible-sm" colspan="3">Dept. <span class="stationName" data-bind="text: fromShortStation"></span></th>
                            <!-- 5 -->
                            <th class="visible-md visible-lg" colspan="4">Arrival at <span class="stationName" data-bind="text: toStation"></span></th>
                            <th class="visible-xs visible-sm" colspan="3">Arr. <span class="stationName" data-bind="text: toShortStation"></span></th>
                        </tr>
                        <tr>
                            <!-- 1 -->
                            <th class="visible-md visible-lg">ID</th>
                            <th class="visible-md visible-lg">Operator</th>
                            <!-- 2 rowspan2 -->
                            <!-- 3 rowspan2 -->
                            <!-- 4 -->
                            <th>Pfm</th>
                            <th class="visible-md visible-lg">Public</th>
                            <th class="visible-md visible-lg">WTT</th>
                            <th class="visible-md visible-lg">Actual</th>
                            <th class="visible-xs visible-sm" colspan="2">At</th>
                            <!-- 5 -->
                            <th>Pfm</th>
                            <th class="visible-md visible-lg">Public</th>
                            <th class="visible-md visible-lg">WTT</th>
                            <th class="visible-md visible-lg">Actual</th>
                            <th class="visible-xs visible-sm" colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: results">
                        <tr data-bind="css: computedCss, attr: { title: title }">
                            <!-- 1 -->
                            <td>
                                <a data-bind="text: headCode, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg">
                                <a data-bind="text: operatorCode, attr: { title: operatorName, href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <!-- 2 -->
                            <td class="stationName" data-bind="css: fromStationCss">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">
                                    <span data-bind="text: fromStation, css: { changeOfOrigin: changeOfOriginStation }"></span>
                                    <span data-bind="text: changeOfOriginStation"></span>
                                </a>
                            </td>
                            <!-- 3 -->
                            <td class="stationName" data-bind="css: toStationCss">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">
                                    <span data-bind="text: toStation, css: { changeOfDestination: cancelEnRoute }"></span>
                                    <span data-bind="text: cancelEnRoute"></span>
                                </a>
                            </td>
                            <!-- 4 -->
                            <!-- ko if: passDeparture -->
                            <td class="visible-md visible-lg pass" colspan="2">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">Pass</a>
                            </td>
                            <td class="visible-xs visible-sm pass">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">Pass</a>
                            </td>
                            <td class="visible-md visible-lg pass time" title="WTT Departure">
                                <a data-bind="text: wttDeparture, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg pass time" title="Actual Departure">
                                <a data-bind="text: actualDeparture, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <!-- /ko -->
                            <!-- ko if: !passDeparture -->
                            <td class="centerText">
                                <a data-bind="text: fromPlatform, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg time" title="Public Departure">
                                <a data-bind="text: publicDeparture, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg" title="WTT Departure">
                                <a data-bind="text: wttDeparture, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg time" title="Actual Departure">
                                <a data-bind="text: actualDeparture, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <!-- /ko -->
                            <td class="visible-xs visible-sm time" data-bind="css: { pass: passDeparture }" colspan="2">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">
                                    <!-- ko if: actualDeparture -->
                                    <span style=" font-weight: bold;" data-bind="text: actualDeparture">
                                    </span>
                                    <!-- /ko -->
                                    <!-- ko if: !actualDeparture -->
                                    <!-- ko if: publicDeparture -->
                                    <span style="font-style: italic;" data-bind="text: publicDeparture"></span>
                                    <!-- /ko -->
                                    <!-- ko if: !publicDeparture -->
                                    <span style="font-style: italic;" data-bind="text: wttDeparture"></span>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </a>
                            </td>
                            <!-- 5 -->
                            <!-- ko if: passArrival -->
                            <td class="visible-md visible-lg pass" colspan="2">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">Pass</a>
                            </td>
                            <td class="visible-xs visible-sm pass">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">Pass</a>
                            </td>
                            <td class="visible-md visible-lg pass time" title="WTT Arrival">
                                <a data-bind="text: wttArrival, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg pass time" title="Actual Arrival">
                                <a data-bind="text: actualArrival, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <!-- /ko -->
                            <!-- ko if: !passArrival -->
                            <td class="centerText">
                                <a data-bind="text: toPlatform, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg time" title="Public Arrival">
                                <a data-bind="text: publicArrival, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg" title="WTT Arrival">
                                <a data-bind="text: wttArrival, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg time" title="Actual Arrival">
                                <a data-bind="text: actualArrival, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <!-- /ko -->
                            <td class="visible-xs visible-sm time" data-bind="css: { pass: passArrival }" colspan="2">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">
                                    <!-- ko if: actualArrival -->
                                    <span style=" font-weight: bold;" data-bind="text: actualArrival">
                                    </span>
                                    <!-- /ko -->
                                    <!-- ko if: !actualArrival -->
                                    <!-- ko if: publicArrival -->
                                    <span style="font-style: italic;" data-bind="text: publicArrival"></span>
                                    <!-- /ko -->
                                    <!-- ko if: !publicArrival -->
                                    <span style="font-style: italic;" data-bind="text: wttArrival"></span>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="nearest-search-results" data-bind="visible: $data.length > 0">
                <table class="table table-hover table-bordered table-header-colour">
                    <thead class="header">
                        <tr>
                            <!-- 1 -->
                            <th class="visible-md visible-lg" colspan="2"></th>
                            <th class="visible-xs visible-sm" rowspan="2">ID</th>
                            <!-- 2 -->
                            <th rowspan="2">From</th>
                            <!-- 3 -->
                            <th rowspan="2">To</th>
                            <!-- 4 -->
                            <th rowspan="2">At</th>
                            <!-- 5 -->
                            <th class="visible-md visible-lg" colspan="4">Arrival</th>
                            <th class="visible-xs visible-sm" colspan="3">Arr.</th>
                            <!-- 6 -->
                            <th class="visible-md visible-lg" colspan="4">Departure</th>
                            <th class="visible-xs visible-sm" colspan="3">Dept. </th>
                        </tr>
                        <tr>
                            <!-- 1 -->
                            <th class="visible-md visible-lg">ID</th>
                            <th class="visible-md visible-lg">Operator</th>
                            <!-- 2 rowspan2 -->
                            <!-- 3 rowspan2 -->
                            <!-- 4 rowspan2 -->
                            <!-- 5 -->
                            <th>Pfm</th>
                            <th class="visible-md visible-lg">Public</th>
                            <th class="visible-md visible-lg">WTT</th>
                            <th class="visible-md visible-lg">Actual</th>
                            <th class="visible-xs visible-sm" colspan="2">At</th>
                            <!-- 6 -->
                            <th>Pfm</th>
                            <th class="visible-md visible-lg">Public</th>
                            <th class="visible-md visible-lg">WTT</th>
                            <th class="visible-md visible-lg">Actual</th>
                            <th class="visible-xs visible-sm hidden-md hidden-lg" colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $data">
                        <tr data-bind="css: computedCss, attr: { title: title }">
                            <!-- 1 -->
                            <td>
                                <a data-bind="text: headCode, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg">
                                <a data-bind="text: operatorCode, attr: { title: operatorName, href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <!-- 2 -->
                            <td class="stationName" data-bind="css: fromStationCss">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">
                                    <span data-bind="text: fromStation, css: { changeOfOrigin: changeOfOriginStation }"></span>
                                    <span data-bind="text: changeOfOriginStation"></span>
                                </a>
                            </td>
                            <!-- 3 -->
                            <td class="stationName" data-bind="css: toStationCss">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">
                                    <span data-bind="text: toStation, css: { changeOfDestination: cancelEnRoute }"></span>
                                    <span data-bind="text: cancelEnRoute"></span>
                                </a>
                            </td>
                            <!-- 4 -->
                            <td class="stationName" data-bind="text: atStation"></td>
                            <!-- 5 -->
                            <!-- ko if: passArrival -->
                            <td class="visible-md visible-lg pass" colspan="2">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">Pass</a>
                            </td>
                            <td class="visible-xs visible-sm pass">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">Pass</a>
                            </td>
                            <td class="visible-md visible-lg pass time" title="WTT Arrival">
                                <a data-bind="text: wttArrival, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg pass time" title="Actual Arrival">
                                <a data-bind="text: actualArrival, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <!-- /ko -->
                            <!-- ko if: !passArrival -->
                            <td class="centerText">
                                <a data-bind="text: toPlatform, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg time" title="Public Arrival">
                                <a data-bind="text: publicArrival, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg" title="WTT Arrival">
                                <a data-bind="text: wttArrival, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg time" title="Actual Arrival">
                                <a data-bind="text: actualArrival, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <!-- /ko -->
                            <td class="visible-xs visible-sm time" data-bind="css: { pass: passArrival }" colspan="2">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">
                                    <!-- ko if: actualArrival -->
                                    <span style=" font-weight: bold;" data-bind="text: actualArrival">
                                    </span>
                                    <!-- /ko -->
                                    <!-- ko if: !actualArrival -->
                                    <!-- ko if: publicArrival -->
                                    <span style="font-style: italic;" data-bind="text: publicArrival"></span>
                                    <!-- /ko -->
                                    <!-- ko if: !publicArrival -->
                                    <span style="font-style: italic;" data-bind="text: wttArrival"></span>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </a>
                            </td>
                            <!-- 6 -->
                            <!-- ko if: passDeparture -->
                            <td class="visible-md visible-lg pass" colspan="2">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">Pass</a>
                            </td>
                            <td class="visible-xs visible-sm pass">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">Pass</a>
                            </td>
                            <td class="visible-md visible-lg pass time" title="WTT Departure">
                                <a data-bind="text: wttDeparture, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg pass time" title="Actual Departure">
                                <a data-bind="text: actualDeparture, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <!-- /ko -->
                            <!-- ko if: !passDeparture -->
                            <td class="centerText">
                                <a data-bind="text: fromPlatform, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg time" title="Public Departure">
                                <a data-bind="text: publicDeparture, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg" title="WTT Departure">
                                <a data-bind="text: wttDeparture, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <td class="visible-md visible-lg time" title="Actual Departure">
                                <a data-bind="text: actualDeparture, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a>
                            </td>
                            <!-- /ko -->
                            <td class="visible-xs visible-sm time" data-bind="css: { pass: passDeparture }" colspan="2">
                                <a data-bind="attr: { href: 'trains/' + trainId + '/' + departureDate }">
                                    <!-- ko if: actualDeparture -->
                                    <span style=" font-weight: bold;" data-bind="text: actualDeparture">
                                    </span>
                                    <!-- /ko -->
                                    <!-- ko if: !actualDeparture -->
                                    <!-- ko if: publicDeparture -->
                                    <span style="font-style: italic;" data-bind="text: publicDeparture"></span>
                                    <!-- /ko -->
                                    <!-- ko if: !publicDeparture -->
                                    <span style="font-style: italic;" data-bind="text: wttDeparture"></span>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ul class="pager">
                <li class="previous"><a href="#" onclick="previousDate(); return false;" class="neg-hrs">← Earlier</a></li>
                <li class="next"><a href="#" onclick="nextDate(); return false;" class="plus-hrs">Later →</a></li>
            </ul>
        </div>
    </div>
    <!--/span10-->
</div>
<!--/row-fluid-->
<div class="row-fluid">
    <p class="text-info span12">
        <span class="glyphicon glyphicon-info-sign"></span>&nbsp;Passing, <span title="Empty Coaching Stock">ECS</span> and <span title="Freight or Other Operator">TOC-ZZ</span> trains will be hidden in Simple Mode.
        <br />
        <span class="glyphicon glyphicon-info-sign"></span>&nbsp;Trains in italics are non-activated trains. This means they may not run. Trains are typically activated a few hours before scheduled departure time.
    </p>
</div>