@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    @Styles.Render("~/bundles/css/search-schedule")
}
@section FooterJs{
    @Scripts.Render("~/bundles/js/search-schedule")
}
@section TopMenu{
    <li><a href="~/">Home</a></li>
    <li class="active"><a>Schedule</a></li>
    <li><a href="~/train">Train</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Live <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="~/route">Routes</a></li>
            <li><a href="~/station">Stations</a></li>
            <li><a href="~/route">Live Feed</a></li>
        </ul>
    </li>
    <li><a href="~/ppm">PPM</a></li>
    <li><a href="#" id="advancedSwitch" title="Switch Mode">Advanced</a></li>
}
<div class="row">
    <div class="col-md-12" id="resultsBlock">
        <div class="row alert alert-info hide" id="no-results-row">
            <strong>No Results Found</strong>
        </div>
        <div class="row alert alert-error hide" id="error-row">
            <strong>Error fetching data. Please Refresh to try again</strong>
        </div>
        <div class="progress progress-striped active hide">
            <div class="progress-bar" role="progressbar" style="width: 100%"></div>
        </div>
        <div class="row" id="title" data-bind="visible: From">
            <span data-bind="text: From" class="stationName xl"></span><span data-bind="visible: To">&nbsp;to&nbsp;</span>
            <span data-bind="text: To" class="stationName xl"></span>
            <br />
            <span data-bind="text: DateRange"></span>
            <hr style="margin: 5px 0px;" />
        </div>
        <div class="row">
            <ul class="pager">
                <li><a href="#" onclick="previousDate(); return false;" class="neg-hrs">&lt; Earlier</a></li>
                <li><a href="#" onclick="nextDate(); return false;" class="plus-hrs">Later &gt;</a></li>
            </ul>
            <table class="table table-hover table-bordered table-header-colour" id="start-end-at-search-results" data-bind="visible: $data.length > 0">
                <thead class="header">
                    <tr>
                        <!-- 1 -->
                        <th colspan="2"></th>
                        <!-- 2 -->
                        <th colspan="2">From</th>
                        <!-- 3 -->
                        <th class="hidden-xs hidden-sm visible-md visible-lg" colspan="3">Departure</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg" colspan="2">Dept</th>
                        <!-- 4 -->
                        <th colspan="2">To</th>
                        <!-- 5 -->
                        <th class="hidden-xs hidden-sm visible-md visible-lg" colspan="3">Arrival</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg" colspan="2">Arr</th>
                    </tr>
                    <tr>
                        <!-- 1 -->
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Train ID</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">ID</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Operator</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">Op</th>
                        <!-- 2 -->
                        <th>Station</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Pfm</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">P</th>
                        <!-- 3 -->
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Public</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">Ex</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg advanced">WTT</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Actual</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">Act</th>
                        <!-- 4 -->
                        <th>Station</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Pfm</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">P</th>
                        <!-- 5 -->
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Public</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">Ex</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg advanced">WTT</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Actual</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">Act</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: $data">
                    <tr data-bind="css: computedCss, attr: { title: title }">
                        <!-- 1 -->
                        <td><a data-bind="text: headCode, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a></td>
                        <td data-bind="text: operatorCode, attr: { title: operatorName }"></td>
                        <!-- 2 -->
                        <td class="stationName" data-bind="css: fromStationCss">
                            <span data-bind="text: fromStation, css: { changeOfOrigin: changeOfOriginStation }"></span>
                            <span data-bind="text: changeOfOriginStation"></span>
                        </td>
                        <td data-bind="text: fromPlatform"></td>
                        <!-- 3 -->
                        <td class="time" title="Public Departure" data-bind="text: publicDeparture"></td>
                        <td class="hidden-xs hidden-sm visible-md visible-lg" title="WTT Departure" data-bind="text: wttDeparture"></td>
                        <td class="time" title="Actual Departure" data-bind="text: actualDeparture"></td>
                        <!-- 4 -->
                        <td class="stationName" data-bind="css: toStationCss">
                            <span data-bind="text: toStation, css: { changeOfDestination: cancelEnRoute }"></span>
                            <span data-bind="text: cancelEnRoute"></span>
                        </td>
                        <td data-bind="text: toPlatform"></td>
                        <!-- 5 -->
                        <td class="time" title="Public Arrival" data-bind="text: publicArrival"></td>
                        <td class="hidden-xs hidden-sm visible-md visible-lg" title="WTT Arrival" data-bind="text: wttArrival"></td>
                        <td class="time" title="Actual Arrival" data-bind="text: actualArrival"></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover table-bordered table-header-colour" id="calling-at-search-results" data-bind="visible: $data.length > 0">
                <thead class="header">
                    <tr>
                        <!-- 1 -->
                        <th colspan="2"></th>
                        <!-- 2 -->
                        <th class="hidden-xs hidden-sm visible-md visible-lg" colspan="3">Arrival</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg" colspan="2">Arr</th>
                        <!-- 3 -->
                        <th rowspan="2">From</th>
                        <!-- 4 -->
                        <th class="hidden-xs hidden-sm visible-md visible-lg centerText" rowspan="2">Pfm</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg centerText" rowspan="2">P</th>
                        <!-- 5 -->
                        <th rowspan="2">To</th>
                        <!-- 6 -->
                        <th class="hidden-xs hidden-sm visible-md visible-lg" colspan="3">Departure</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg" colspan="2">Dept</th>
                    </tr>
                    <tr>
                        <!-- 1 -->
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Train ID</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">ID</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Operator</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">Op</th>
                        <!-- 2 -->
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Public</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">Ex</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg advanced">WTT</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Actual</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">Act</th>
                        <!-- 3 rowspan2 -->
                        <!-- 4 rowspan2 -->
                        <!-- 5 rowspan2 -->
                        <!-- 6 -->
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Public</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">Ex</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg advanced">WTT</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Actual</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">Act</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: $data">
                    <tr data-bind="css: computedCss, attr: { title: title }">
                        <!-- 1 -->
                        <td><a data-bind="text: headCode, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a></td>
                        <td data-bind="text: operatorCode, attr: { title: operatorName }"></td>
                        <!-- 2 -->
                        <td class="time" title="Public Arrival" data-bind="text: atPublicArrival"></td>
                        <td class="hidden-xs hidden-sm visible-md visible-lg" title="WTT Arrival" data-bind="text: atWttArrival"></td>
                        <td class="time" title="Actual Arrival" data-bind="text: atActualArrival"></td>
                        <!-- 3 -->
                        <td class="stationName" data-bind="css : fromStationCss">
                            <span data-bind="text: fromStation, css: { changeOfOrigin: changeOfOriginStation }"></span>
                            <span data-bind="text: changeOfOriginStation"></span>
                        </td>
                        <!-- 4 -->
                        <td class="centerText" data-bind="text: atPlatform"></td>
                        <!-- 5 -->
                        <td class="stationName" data-bind="css: toStationCss">
                            <span data-bind="text: toStation, css: { changeOfDestination: cancelEnRoute }"></span>
                            <span data-bind="text: cancelEnRoute"></span>
                        </td>
                        <!-- 6 -->
                        <td class="time" title="Public Departure" data-bind="text: atPublicDeparture"></td>
                        <td class="hidden-xs hidden-sm visible-md visible-lg" title="WTT Departure" data-bind="text: atWttDeparture"></td>
                        <td class="time" title="Actual Departure" data-bind="text: atActualDeparture"></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover table-bordered table-header-colour" id="calling-between-search-results" data-bind="visible: results().length > 0">
                <thead class="header">
                    <tr>
                        <!-- 1 -->
                        <th colspan="2"></th>
                        <!-- 2 -->
                        <th rowspan="2">From</th>
                        <!-- 3 -->
                        <th rowspan="2">To</th>
                        <!-- 4 -->
                        <th class="hidden-xs hidden-sm visible-md visible-lg" colspan="4">Departure from <span class="stationName" data-bind="text: fromStation"></span></th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg" colspan="3">Dept. <span class="stationName" data-bind="text: fromShortStation"></span></th>
                        <!-- 5 -->
                        <th class="hidden-xs hidden-sm visible-md visible-lg" colspan="4">Arrival at <span class="stationName" data-bind="text: toStation"></span></th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg" colspan="3">Arr. <span class="stationName" data-bind="text: toShortStation"></span></th>
                    </tr>
                    <tr>
                        <!-- 1 -->
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Train ID</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">ID</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Operator</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">Op</th>
                        <!-- 2 rowspan2 -->
                        <!-- 3 rowspan2 -->
                        <!-- 4 -->
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Pfm</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">P</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Public</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">Ex</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg">WTT</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Actual</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">Act</th>
                        <!-- 5 -->
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Pfm</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">P</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Public</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">Ex</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg">WTT</th>
                        <th class="hidden-xs hidden-sm visible-md visible-lg">Actual</th>
                        <th class="visible-xs visible-sm hidden-md hidden-lg">Act</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: results">
                    <tr data-bind="css: computedCss, attr: { title: title }">
                        <!-- 1 -->
                        <td><a data-bind="text: headCode, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a></td>
                        <td data-bind="text: operatorCode, attr: { title: operatorName }"></td>
                        <!-- 2 -->
                        <td class="stationName" data-bind="css: fromStationCss">
                            <span data-bind="text: fromStation, css: { changeOfOrigin: changeOfOriginStation }"></span>
                            <span data-bind="text: changeOfOriginStation"></span>
                        </td>
                        <!-- 3 -->
                        <td class="stationName" data-bind="css: toStationCss">
                            <span data-bind="text: toStation, css: { changeOfDestination: cancelEnRoute }"></span>
                            <span data-bind="text: cancelEnRoute"></span>
                        </td>
                        <!-- 4 -->
                        <td class="centerText" data-bind="text: fromPlatform, css: { pass: passDeparture }"></td>
                        <td class="pass" data-bind="visible: passDeparture">Pass</td>
                        <td class="time" title="Public Departure" data-bind="text: publicDeparture, visible: !passDeparture"></td>
                        <td class="hidden-xs hidden-sm visible-md visible-lg" title="WTT Departure" data-bind="text: wttDeparture, css: { pass: passDeparture }"></td>
                        <td class="time" title="Actual Departure" data-bind="text: actualDeparture, css: { pass: passDeparture }"></td>
                        <!-- 5 -->
                        <td class="centerText" data-bind="text: toPlatform, css: { pass: passArrival }"></td>
                        <td class="pass" data-bind="visible: passArrival">Pass</td>
                        <td class="time" title="Public Arrival" data-bind="text: publicArrival, visible: !passArrival"></td>
                        <td class="hidden-xs hidden-sm visible-md visible-lg" title="WTT Arrival" data-bind="text: wttArrival, css: { pass: passArrival }"></td>
                        <td class="time" title="Actual Arrival" data-bind="text: actualArrival, css: { pass: passArrival }"></td>
                    </tr>
                </tbody>
            </table>
            <ul class="pager">
                <li><a href="#" onclick="previousDate(); return false;" class="neg-hrs">&lt; Earlier</a></li>
                <li><a href="#" onclick="nextDate(); return false;" class="plus-hrs">Later &gt;</a></li>
            </ul>
        </div>
    </div>
    <!--/span10-->
</div>
<!--/row-fluid-->
<div class="row-fluid">
    <p class="text-info span12">
        <span class="glyphicon glyphicon-info-sign"></span>&nbsp;<span title="Empty Coaching Stock">ECS</span>, <span title="Freight or Other Operator">TOC-ZZ</span> trains will be hidden in Simple Mode (some may show due to old data).
    </p>
</div>