@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    @Styles.Render("~/bundles/css/search-schedule")
}
@section FooterJs{
    @Scripts.Render("~/bundles/js/search-schedule")
}
@section TopMenu{
    <li><a href="~/">Home</a></li>
    <li class="active"><a>Schedule</a></li>
    <li><a href="~/train">Train</a></li>
    <li><a href="~/route">Routes</a></li>
    <li><a href="~/station">Stations</a></li>
    <li><a href="~/ppm">PPM</a></li>
    <li><a href="~/live">Live</a></li>
    <li><a href="#" id="advancedSwitch" title="Switch Mode">Advanced</a></li>
}
<div class="row">
    <div class="col-md-2 phone-hide advanced" style="display: none;">
        <div class="well sidebar-nav">
            <ul class="nav nav-list" id="commandOptions">
                <li class="nav-header">By CRS Code:</li>
                <li id="from-crs">
                    <a href="#from/" onclick="thisPage.setCommand('from/');">
                        <strong>Trains Stating From:</strong><br />
                        &nbsp;&nbsp;from/[CRS]
                    </a>
                </li>
                <li id="at-crs">
                    <a href="#at/" onclick="thisPage.setCommand('at/');">
                        <strong>Trains Calling At:</strong><br />
                        &nbsp;&nbsp;at/[CRS]
                    </a>
                </li>
                <li id="to-crs">
                    <a href="#to/" onclick="thisPage.setCommand('to/');">
                        <strong>Trains Terminating At:</strong><br />
                        &nbsp;&nbsp;to/[CRS]
                    </a>
                </li>
                <li id="from-to-crs">
                    <a href="#from/" onclick="thisPage.setCommand('from/');">
                        <strong>Trains going from [A] to [B]:</strong><br />
                        &nbsp;&nbsp;from/[CRS-A]/to/[CRS-B]
                    </a>
                </li>
                <li class="nav-header">By Stanox Code:</li>
                <li id="from">
                    <a href="#from/" onclick="thisPage.setCommand('from/');">
                        <strong>Trains Stating From:</strong><br />
                        &nbsp;&nbsp;from/[stanox]
                    </a>
                </li>
                <li id="at">
                    <a href="#at/" onclick="thisPage.setCommand('at/');">
                        <strong>Trains Calling At:</strong><br />
                        &nbsp;&nbsp;at/[stanox]
                    </a>
                </li>
                <li id="to">
                    <a href="#to:" onclick="thisPage.setCommand('to/');">
                        <strong>Trains Terminating At:</strong><br />
                        &nbsp;&nbsp;to/[stanox]
                    </a>
                </li>
                <li id="from-to">
                    <a href="#from/" onclick="thisPage.setCommand('from');">
                        <strong>Trains going from [A] to [B]:</strong><br />
                        &nbsp;&nbsp;from/[stanox-A]/to/[stanox-B]
                    </a>
                </li>
            </ul>
        </div>
        <div class="well sidebar-nav" id="stationDetails" data-bind="visible: name">
            <ul class="nav nav-list">
                <li class="nav-header" data-bind="text: name">Station Details</li>
                <li><strong>CRS:</strong><span data-bind="text: crsCode"></span></li>
                <li><a data-bind="attr: { href: 'search/from/' + url(), onclick: 'setHash(\'from/' + url() + '\');' }" title="View Trains Starting from this station">Trains Starting From</a></li>
                <li><a data-bind="attr: { href: 'search/at/' + url(), onclick: 'setHash(\'at/' + url() + '\');' }" title="View Trains Calling at this station">Trains Calling At</a></li>
                <li><a data-bind="attr: { href: 'search/to/' + url(), onclick: 'setHash(\'to/' + url() + '\');' }" title="View Trains Terminating at this station">Trains Terminating At</a></li>
            </ul>
        </div>
    </div>
    <!--/span2-->
    <div class="col-md-12" id="resultsBlock">
        <div class="row alert alert-info hide" id="no-results-row">
            <strong>No Results Found</strong>
        </div>
        <div class="row alert alert-error hide" id="error-row">
            <strong>Error fetching data. Please Refresh to try again</strong>
        </div>
        <div class="progress progress-striped active hide">
            <div class="progress-bar" role="progressbar" style="width: 100%"></div>
        </div>
        <div class="row" id="title" data-bind="visible: From">
            <span data-bind="text: From" class="stationName xl"></span><span data-bind="visible: To">&nbsp;to&nbsp;</span>
            <span data-bind="text: To" class="stationName xl"></span>
            <br />
            <span data-bind="text: DateRange"></span>
            <hr style="margin: 5px 0px;" />
        </div>
        <div class="row">
            <ul class="pager">
                <li><a href="#" onclick="previousDate(); return false;" class="neg-hrs">&lt; Earlier</a></li>
                <li><a href="#" onclick="nextDate(); return false;" class="plus-hrs">Later &gt;</a></li>
            </ul>
            <table class="table table-hover table-bordered table-header-colour" id="start-end-at-search-results" data-bind="visible: $data.length > 0">
                <thead class="header">
                    <tr>
                        <!-- 1 -->
                        <th colspan="2"></th>
                        <!-- 2 -->
                        <th colspan="2">From</th>
                        <!-- 3 -->
                        <th class="phone-hide simple" colspan="2">Departure</th>
                        <th class="phone-hide advanced" colspan="3">Departure</th>
                        <th class="phone-show" colspan="2">Dept</th>
                        <!-- 4 -->
                        <th colspan="2">To</th>
                        <!-- 5 -->
                        <th class="phone-hide simple" colspan="2">Arrival</th>
                        <th class="phone-hide advanced" colspan="3">Arrival</th>
                        <th class="phone-show" colspan="2">Arr</th>
                    </tr>
                    <tr>
                        <!-- 1 -->
                        <th class="phone-hide">Train ID</th>
                        <th class="phone-show">ID</th>
                        <th class="phone-hide">Operator</th>
                        <th class="phone-show">Op</th>
                        <!-- 2 -->
                        <th>Station</th>
                        <th class="phone-hide">Pfm</th>
                        <th class="phone-show">P</th>
                        <!-- 3 -->
                        <th class="phone-hide">Public</th>
                        <th class="phone-show">Ex</th>
                        <th class="phone-hide advanced">WTT</th>
                        <th class="phone-hide">Actual</th>
                        <th class="phone-show">Act</th>
                        <!-- 4 -->
                        <th>Station</th>
                        <th class="phone-hide">Pfm</th>
                        <th class="phone-show">P</th>
                        <!-- 5 -->
                        <th class="phone-hide">Public</th>
                        <th class="phone-show">Ex</th>
                        <th class="phone-hide advanced">WTT</th>
                        <th class="phone-hide">Actual</th>
                        <th class="phone-show">Act</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: $data">
                    <tr data-bind="css: computedCss, attr: { title: title }">
                        <!-- 1 -->
                        <td><a data-bind="text: headCode, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a></td>
                        <td data-bind="text: operatorCode, attr: { title: operatorName }"></td>
                        <!-- 2 -->
                        <td class="stationName" data-bind="css: fromStationCss">
                            <span data-bind="text: fromStation, css: { changeOfOrigin: changeOfOriginStation }"></span>
                            <span data-bind="text: changeOfOriginStation"></span>
                        </td>
                        <td data-bind="text: fromPlatform"></td>
                        <!-- 3 -->
                        <td class="time" title="Public Departure" data-bind="text: publicDeparture"></td>
                        <td class="phone-hide advanced" title="WTT Departure" data-bind="text: wttDeparture"></td>
                        <td class="time" title="Actual Departure" data-bind="text: actualDeparture"></td>
                        <!-- 4 -->
                        <td class="stationName" data-bind="css: toStationCss">
                            <span data-bind="text: toStation, css: { changeOfDestination: cancelEnRoute }"></span>
                            <span data-bind="text: cancelEnRoute"></span>
                        </td>
                        <td data-bind="text: toPlatform"></td>
                        <!-- 5 -->
                        <td class="time" title="Public Arrival" data-bind="text: publicArrival"></td>
                        <td class="phone-hide advanced" title="WTT Arrival" data-bind="text: wttArrival"></td>
                        <td class="time" title="Actual Arrival" data-bind="text: actualArrival"></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover table-bordered table-header-colour" id="calling-at-search-results" data-bind="visible: $data.length > 0">
                <thead class="header">
                    <tr>
                        <!-- 1 -->
                        <th colspan="2"></th>
                        <!-- 2 -->
                        <th class="phone-hide advanced" colspan="3">Arrival</th>
                        <th class="phone-hide simple" colspan="2">Arrival</th>
                        <th class="phone-show" colspan="2">Arr</th>
                        <!-- 3 -->
                        <th rowspan="2">From</th>
                        <!-- 4 -->
                        <th class="phone-hide centerText" rowspan="2">Pfm</th>
                        <th class="phone-show centerText" rowspan="2">P</th>
                        <!-- 5 -->
                        <th rowspan="2">To</th>
                        <!-- 6 -->
                        <th class="phone-hide advanced" colspan="3">Departure</th>
                        <th class="phone-hide simple" colspan="2">Departure</th>
                        <th class="phone-show" colspan="2">Dept</th>
                    </tr>
                    <tr>
                        <!-- 1 -->
                        <th class="phone-hide">Train ID</th>
                        <th class="phone-show">ID</th>
                        <th class="phone-hide">Operator</th>
                        <th class="phone-show">Op</th>
                        <!-- 2 -->
                        <th class="phone-hide">Public</th>
                        <th class="phone-show">Ex</th>
                        <th class="phone-hide advanced">WTT</th>
                        <th class="phone-hide">Actual</th>
                        <th class="phone-show">Act</th>
                        <!-- 3 rowspan2 -->
                        <!-- 4 rowspan2 -->
                        <!-- 5 rowspan2 -->
                        <!-- 6 -->
                        <th class="phone-hide">Public</th>
                        <th class="phone-show">Ex</th>
                        <th class="phone-hide advanced">WTT</th>
                        <th class="phone-hide">Actual</th>
                        <th class="phone-show">Act</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: $data">
                    <tr data-bind="css: computedCss, attr: { title: title }">
                        <!-- 1 -->
                        <td><a data-bind="text: headCode, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a></td>
                        <td data-bind="text: operatorCode, attr: { title: operatorName }"></td>
                        <!-- 2 -->
                        <td class="time" title="Public Arrival" data-bind="text: atPublicArrival"></td>
                        <td class="phone-hide advanced" title="WTT Arrival" data-bind="text: atWttArrival"></td>
                        <td class="time" title="Actual Arrival" data-bind="text: atActualArrival"></td>
                        <!-- 3 -->
                        <td class="stationName" data-bind="css : fromStationCss">
                            <span data-bind="text: fromStation, css: { changeOfOrigin: changeOfOriginStation }"></span>
                            <span data-bind="text: changeOfOriginStation"></span>
                        </td>
                        <!-- 4 -->
                        <td class="centerText" data-bind="text: atPlatform"></td>
                        <!-- 5 -->
                        <td class="stationName" data-bind="css: toStationCss">
                            <span data-bind="text: toStation, css: { changeOfDestination: cancelEnRoute }"></span>
                            <span data-bind="text: cancelEnRoute"></span>
                        </td>
                        <!-- 6 -->
                        <td class="time" title="Public Departure" data-bind="text: atPublicDeparture"></td>
                        <td class="phone-hide advanced" title="WTT Departure" data-bind="text: atWttDeparture"></td>
                        <td class="time" title="Actual Departure" data-bind="text: atActualDeparture"></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover table-bordered table-header-colour" id="calling-between-search-results" data-bind="visible: results().length > 0">
                <thead class="header">
                    <tr>
                        <!-- 1 -->
                        <th colspan="2"></th>
                        <!-- 2 -->
                        <th rowspan="2">From</th>
                        <!-- 3 -->
                        <th rowspan="2">To</th>
                        <!-- 4 -->
                        <th class="phone-hide advanced" colspan="4">Departure from <span class="stationName" data-bind="text: fromStation"></span></th>
                        <th class="phone-hide simple" colspan="3">Departure from <span class="stationName" data-bind="text: fromStation"></span></th>
                        <th class="phone-show" colspan="3">Dept. <span class="stationName" data-bind="text: fromShortStation"></span></th>
                        <!-- 5 -->
                        <th class="phone-hide advanced" colspan="4">Arrival at <span class="stationName" data-bind="text: toStation"></span></th>
                        <th class="phone-hide simple" colspan="3">Arrival at <span class="stationName" data-bind="text: toStation"></span></th>
                        <th class="phone-show" colspan="3">Arr. <span class="stationName" data-bind="text: toShortStation"></span></th>
                    </tr>
                    <tr>
                        <!-- 1 -->
                        <th class="phone-hide">Train ID</th>
                        <th class="phone-show">ID</th>
                        <th class="phone-hide">Operator</th>
                        <th class="phone-show">Op</th>
                        <!-- 2 rowspan2 -->
                        <!-- 3 rowspan2 -->
                        <!-- 4 -->
                        <th class="phone-hide">Pfm</th>
                        <th class="phone-show">P</th>
                        <th class="phone-hide">Public</th>
                        <th class="phone-show">Ex</th>
                        <th class="phone-hide advanced">WTT</th>
                        <th class="phone-hide">Actual</th>
                        <th class="phone-show">Act</th>
                        <!-- 5 -->
                        <th class="phone-hide">Pfm</th>
                        <th class="phone-show">P</th>
                        <th class="phone-hide">Public</th>
                        <th class="phone-show">Ex</th>
                        <th class="phone-hide advanced">WTT</th>
                        <th class="phone-hide">Actual</th>
                        <th class="phone-show">Act</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: results">
                    <tr data-bind="css: computedCss, attr: { title: title }">
                        <!-- 1 -->
                        <td><a data-bind="text: headCode, attr: { href: 'trains/' + trainId + '/' + departureDate }"></a></td>
                        <td data-bind="text: operatorCode, attr: { title: operatorName }"></td>
                        <!-- 2 -->
                        <td class="stationName" data-bind="css: fromStationCss">
                            <span data-bind="text: fromStation, css: { changeOfOrigin: changeOfOriginStation }"></span>
                            <span data-bind="text: changeOfOriginStation"></span>
                        </td>
                        <!-- 3 -->
                        <td class="stationName" data-bind="css: toStationCss">
                            <span data-bind="text: toStation, css: { changeOfDestination: cancelEnRoute }"></span>
                            <span data-bind="text: cancelEnRoute"></span>
                        </td>
                        <!-- 4 -->
                        <td class="centerText" data-bind="text: fromPlatform, css: { pass: passDeparture }"></td>
                        <td class="pass" data-bind="visible: passDeparture">Pass</td>
                        <td class="time" title="Public Departure" data-bind="text: publicDeparture, visible: !passDeparture"></td>
                        <td class="phone-hide advanced" title="WTT Departure" data-bind="text: wttDeparture, css: { pass: passDeparture }"></td>
                        <td class="time" title="Actual Departure" data-bind="text: actualDeparture, css: { pass: passDeparture }"></td>
                        <!-- 5 -->
                        <td class="centerText" data-bind="text: toPlatform, css: { pass: passArrival }"></td>
                        <td class="pass" data-bind="visible: passArrival">Pass</td>
                        <td class="time" title="Public Arrival" data-bind="text: publicArrival, visible: !passArrival"></td>
                        <td class="phone-hide advanced" title="WTT Arrival" data-bind="text: wttArrival, css: { pass: passArrival }"></td>
                        <td class="time" title="Actual Arrival" data-bind="text: actualArrival, css: { pass: passArrival }"></td>
                    </tr>
                </tbody>
            </table>
            <ul class="pager">
                <li><a href="#" onclick="previousDate(); return false;" class="neg-hrs">&lt; Earlier</a></li>
                <li><a href="#" onclick="nextDate(); return false;" class="plus-hrs">Later &gt;</a></li>
            </ul>
        </div>
    </div>
    <!--/span10-->
</div>
<!--/row-fluid-->
<div class="row-fluid">
    <p class="text-info span12">
        <span class="glyphicon glyphicon-info-sign"></span>&nbsp;<span title="Empty Coaching Stock">ECS</span>, <span title="Freight or Other Operator">TOC-ZZ</span> trains will be hidden in Simple Mode (some may show due to old data).
    </p>
</div>