@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
}
@section FooterJs{
    <script type="text/javascript" 
        src="http://maps.googleapis.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["googleApiKey"]&sensor=false">
    </script>
    <script type="text/javascript">
        var server = "@System.Configuration.ConfigurationManager.AppSettings["server"]";
    </script>
    
    @Scripts.Render("~/bundles/search")
}
@section TopMenu{
    <li><a href="~/">Live Feed</a></li>
    <li><a href="~/train">Train</a></li>
    <li class="active"><a href="#">Search</a></li>
}
<div class="row-fluid">
    <div class="span2">
        <div class="well sidebar-nav" id="locationDetails">
            <ul class="nav nav-list">
                <li class="nav-header">Commands</li>
                <li><a href="#getservice:" onclick="setCommand('getservice:');"><strong>Get Service:</strong><br />
                    &nbsp;&nbsp;getservice:[wttid]</a></li>
                <li><a href="#listorigin:" onclick="setCommand('listorigin:');"><strong>List Trains Originating From:</strong><br />
                    &nbsp;&nbsp;listorigin:[stanox]</a></li>
                <li><a href="#listorigin-crs:" onclick="setCommand('listorigin-crs:');"><strong>List Trains Originating From:</strong><br />
                    &nbsp;&nbsp;listorigin-crs:[crs]</a></li>
                <li><a href="#listorigin:" onclick="setCommand('liststation:');"><strong>List Trains Calling At:</strong><br />
                    &nbsp;&nbsp;liststation:[stanox]</a></li>
                <li><a href="#listorigin-crs:" onclick="setCommand('liststation-crs:');"><strong>List Trains Calling At:</strong><br />
                    &nbsp;&nbsp;liststation-crs:[crs]</a></li>
            </ul>
        </div>
        <div class="well sidebar-nav" id="stationDetails">
            <ul class="nav nav-list">
                <li class="nav-header" data-bind="text: stationName">Station Details</li>
                <li><strong>CRS:</strong><span data-bind="text: locationCRS"></span></li>
                <li><a data-bind="attr: { href :'search#listorigin:' + locationStanox(), onclick: 'setHash(\'listorigin:' + locationStanox() + '\');' }" title="View Trains Starting from this station">Trains Starting From</a></li>
                <li><a data-bind="attr: { href :'search#liststation:' + locationStanox(), onclick: 'setHash(\'liststation:' + locationStanox() + '\');' }" title="View Trains Calling from this station">Trains Calling At</a></li>
                @*<li><a id="stationDetails-term" title="View Trains Terminating at this station">Terminating At</a></li>*@
            </ul>
        </div>
    </div>
    <!--/span2-->
    <div class="span10">
        <div class="row alert alert-info" id="no-results-row" style="display:none">
            <strong>No Results Found</strong>
        </div>
        <div class="row btn-group">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-asterisk"></i></span>
                <input type="text" id="filter-command" class="span9" placeholder="Enter Command" />&nbsp;&nbsp;&nbsp;
                        <a class="btn btn_disconnect" id="btn_Command" onclick="parseCommand();" title="Send Command"><i class="icon-arrow-right"></i></a>
                <a class="btn" href="#" title="Clear data" onclick="clearData();"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="row" id="train-id-result">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Train ID</th>
                        <th>Headcode</th>
                        <th>WTT ID</th>
                        <th>From</th>
                        <th>Sched Departure</th>
                        <th>To</th>
                        <th>Sched Arrival</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Trains">
                    <tr>
                        <td><a data-bind="text: TrainId, attr: { href: 'train#gettrain:' + TrainId() + ':' + TrainUid() }"></a></td>
                        <td data-bind="text: Headcode"></td>
                        <td data-bind="text: WttId"></td>
                        <td><span data-bind="text: From, css: From"></span></td>
                        <td data-bind="text: Depart"></td>
                        <td data-bind="text: To"></td>
                        <td data-bind="text: Arrive"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--/span10-->
</div>
<!--/row-fluid-->