@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    @Styles.Render("~/bundles/css/station")
}
@section FooterJs{
    @Scripts.Render("~/bundles/js/station")
}
@section TopMenu{
    <li><a href="~/">Home</a></li>
    <li><a href="~/search-schedule">Search Schedule</a></li>
    <li><a href="~/train">Train</a></li>
    <li><a href="~/route">Routes</a></li>
    <li class="active"><a>Stations</a></li>
    <li><a href="~/ppm">PPM</a></li>
    <li><a href="~/live">Live Feed</a></li>
    <li><a href="#" id="advancedSwitch" title="Switch Mode">Advanced Mode</a></li>
}
<div class="row-fluid">
    <div class="span12">
        <h1>Birmingham New Street (BHM)</h1>
        <table id="station">
            <tbody>
                <tr>
                    <td><span class="platform" data-bind="text: platforms[0].sections[0].name"></span>: <span class="berth" data-bind="    text: platforms[0].sections[0].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[0].sections[1].name"></span>: <span class="berth" data-bind="    text: platforms[0].sections[1].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[0].sections[2].name"></span>: <span class="berth" data-bind="    text: platforms[0].sections[2].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[0].sections[3].name"></span>: <span class="berth" data-bind="    text: platforms[0].sections[3].text"></span></td>
                </tr>
                <tr>
                    <td colspan="4" class="rail">&nbsp;</td>
                </tr>
                <tr>
                    <td><span class="platform" data-bind="text: platforms[1].sections[0].name"></span>: <span class="berth" data-bind="    text: platforms[1].sections[0].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[1].sections[1].name"></span>: <span class="berth" data-bind="    text: platforms[1].sections[1].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[1].sections[2].name"></span>: <span class="berth" data-bind="    text: platforms[1].sections[2].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[1].sections[3].name"></span>: <span class="berth" data-bind="    text: platforms[1].sections[3].text"></span></td>
                </tr>
                <tr>
                    <td><span class="platform" data-bind="text: platforms[2].sections[0].name"></span>: <span class="berth" data-bind="    text: platforms[2].sections[0].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[2].sections[1].name"></span>: <span class="berth" data-bind="    text: platforms[2].sections[1].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[2].sections[2].name"></span>: <span class="berth" data-bind="    text: platforms[2].sections[2].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[2].sections[3].name"></span>: <span class="berth" data-bind="    text: platforms[2].sections[3].text"></span></td>
                </tr>
                <tr>
                    <td colspan="4" class="rail">&nbsp;</td>
                </tr>
                <tr>
                    <td><span class="platform" data-bind="text: platforms[3].sections[0].name"></span>: <span class="berth" data-bind="    text: platforms[3].sections[0].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[3].sections[1].name"></span>: <span class="berth" data-bind="    text: platforms[3].sections[1].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[3].sections[2].name"></span>: <span class="berth" data-bind="    text: platforms[3].sections[2].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[3].sections[3].name"></span>: <span class="berth" data-bind="    text: platforms[3].sections[3].text"></span></td>
                </tr>
                <tr>
                    <td><span class="platform" data-bind="text: platforms[4].sections[0].name"></span>: <span class="berth" data-bind="    text: platforms[4].sections[0].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[4].sections[1].name"></span>: <span class="berth" data-bind="    text: platforms[4].sections[1].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[4].sections[2].name"></span>: <span class="berth" data-bind="    text: platforms[4].sections[2].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[4].sections[3].name"></span>: <span class="berth" data-bind="    text: platforms[4].sections[3].text"></span></td>
                </tr>
                <tr>
                    <td colspan="4" class="rail">&nbsp;</td>
                </tr>
                <tr>
                    <td><span class="platform" data-bind="text: platforms[5].sections[0].name"></span>: <span class="berth" data-bind="    text: platforms[5].sections[0].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[5].sections[1].name"></span>: <span class="berth" data-bind="    text: platforms[5].sections[1].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[5].sections[2].name"></span>: <span class="berth" data-bind="    text: platforms[5].sections[2].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[5].sections[3].name"></span>: <span class="berth" data-bind="    text: platforms[5].sections[3].text"></span></td>
                </tr>
                <tr>
                    <td><span class="platform" data-bind="text: platforms[6].sections[0].name"></span>: <span class="berth" data-bind="    text: platforms[6].sections[0].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[6].sections[1].name"></span>: <span class="berth" data-bind="    text: platforms[6].sections[1].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[6].sections[2].name"></span>: <span class="berth" data-bind="    text: platforms[6].sections[2].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[6].sections[3].name"></span>: <span class="berth" data-bind="    text: platforms[6].sections[3].text"></span></td>
                </tr>
                <tr>
                    <td colspan="4" class="rail">&nbsp;</td>
                </tr>
                <tr>
                    <td><span class="platform" data-bind="text: platforms[7].sections[0].name"></span>: <span class="berth" data-bind="    text: platforms[7].sections[0].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[7].sections[1].name"></span>: <span class="berth" data-bind="    text: platforms[7].sections[1].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[7].sections[2].name"></span>: <span class="berth" data-bind="    text: platforms[7].sections[2].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[7].sections[3].name"></span>: <span class="berth" data-bind="    text: platforms[7].sections[3].text"></span></td>
                </tr>
                <tr>
                    <td><span class="platform" data-bind="text: platforms[8].sections[0].name"></span>: <span class="berth" data-bind="    text: platforms[8].sections[0].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[8].sections[1].name"></span>: <span class="berth" data-bind="    text: platforms[8].sections[1].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[8].sections[2].name"></span>: <span class="berth" data-bind="    text: platforms[8].sections[2].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[8].sections[3].name"></span>: <span class="berth" data-bind="    text: platforms[8].sections[3].text"></span></td>
                </tr>
                <tr>
                    <td colspan="4" class="rail">&nbsp;</td>
                </tr>
                <tr>
                    <td><span class="platform" data-bind="text: platforms[9].sections[0].name"></span>: <span class="berth" data-bind="    text: platforms[9].sections[0].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[9].sections[1].name"></span>: <span class="berth" data-bind="    text: platforms[9].sections[1].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[9].sections[2].name"></span>: <span class="berth" data-bind="    text: platforms[9].sections[2].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[9].sections[3].name"></span>: <span class="berth" data-bind="    text: platforms[9].sections[3].text"></span></td>
                </tr>
                <tr>
                    <td><span class="platform" data-bind="text: platforms[10].sections[0].name"></span>: <span class="berth" data-bind="    text: platforms[10].sections[0].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[10].sections[1].name"></span>: <span class="berth" data-bind="    text: platforms[10].sections[1].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[10].sections[2].name"></span>: <span class="berth" data-bind="    text: platforms[10].sections[2].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[10].sections[3].name"></span>: <span class="berth" data-bind="    text: platforms[10].sections[3].text"></span></td>
                </tr>
                <tr>
                    <td colspan="4" class="rail">&nbsp;</td>
                </tr>
                <tr>
                    <td><span class="platform" data-bind="text: platforms[11].sections[0].name"></span>: <span class="berth" data-bind="    text: platforms[11].sections[0].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[11].sections[1].name"></span>: <span class="berth" data-bind="    text: platforms[11].sections[1].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[11].sections[2].name"></span>: <span class="berth" data-bind="    text: platforms[11].sections[2].text"></span></td>
                    <td><span class="platform" data-bind="text: platforms[11].sections[3].name"></span>: <span class="berth" data-bind="    text: platforms[11].sections[3].text"></span></td>
                </tr>
            </tbody>
        </table>
        <!--/span12-->
    </div>
</div>
<!--/row-fluid-->
<div class="row">
    <p class="text-warning">
        The above berths are just my guestimation based on running trains. I plan to map this better at some point.<br />
        The train links do nothing at present.
    </p>
</div>
