<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="server" value="www.trainnotifier.co.uk" />
    <add key="apiPort" value="82" />
    <add key="wsPort" value="81" />
    <add key="brandingTitle" value="WebSocket Example" />
    <add key="ad_client" value="" />
    <add key="ad_slot" value="" />
    <add key="ad_sense_code" value="" />
    <add key="ad_sense_url" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>