.input-group-addon:first-child {
    width: 6em !important;
    text-align: left;
}

@media (max-width: 767px) {
    .table thead > tr > th,
    .table tbody > tr > th,
    .table tfoot > tr > th,
    .table thead > tr > td,
    .table tbody > tr > td,
    .table tfoot > tr > td {
        padding: 4px;
    }
}
