.fixed {
    position: fixed;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.centerText {
    text-align: center !important;
}

.table tbody tr.pass > td {
    background-color: #faf2cc;
    font-style: italic;
}

table.table-header-colour thead th{
    background-color: #EEE;
}
