.fixed {
    position: fixed;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.centerText {
    text-align: center !important;
}

.table tbody tr.pass > td {
    background-color: #faf2cc;
    font-style: italic;
}

.table tbody tr.cancel > td {
    background-color: #f2dede !important;
}

table.table-header-colour thead th {
    background-color: #EEE;
}

.stationName {
    text-transform: capitalize;
}

.changeOfOrigin {
    text-decoration: line-through;
}

/* override bootstrap */
ul.nav.nav-tabs {
    margin-bottom: 0px;
}

/* override bootstrap responsive*/
@media (max-width: 979px) {
    .navbar-fixed-top {
        position: fixed;
    }
}

/* override bootstrap responsive*/
/* only for within navbar*/
@media (max-width: 767px) {
    .navbar-inner > .container-fluid {
        padding-right: 20px;
        padding-left: 20px;
    }
}
