.fixed {
    position: fixed;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.centerText {
    text-align: center !important;
}

.table tbody tr.pass > td {
    font-style: italic;
}
