th.advanced-col.hide {
    display: none !important;
}

td.advanced-col.hide {
    display: none !important;
}

th.simple-col.hide {
    display: none !important;
}

td.simple-col.hide {
    display: none !important;
}

.sidebar-nav {
    padding: 9px 0;
}

.btn-top {
    margin-top: -10px !important;
}

.changePlatform {
    font-weight: bold;
}

table {
    margin-top: 5px;
}
/* off route link */
tr.info a {
    color: white;
}

.alert-info {
    color: green;
    font-weight: bold;
}

.alert-warning {
    color: red;
}

.alert-important {
    color: red;
    font-weight: bold;
}

.col.station {
    background-color: rgba(247, 247, 247, 0.23);
}

.col.arrive {
    background-color: rgba(247, 247, 247, 0.23);
}

.col.depart {
    background-color: rgba(247, 247, 247, 0.23);
}

.col.extra {
    background-color: rgba(247, 247, 247, 0.23);
}

div#title {
    margin-top: 5px;
    font-size: large;
}

    div#title span.xxl {
        font-weight: bold;
        font-size: xx-large;
        margin-left: 5px;
    }

    div#title span.xl {
        font-weight: bold;
        font-size: x-large;
    }

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    div#title {
        margin-top: 5px;
        font-size: 14px;
    }

        div#title span.xxl {
            font-weight: bold;
            font-size: 14px;
            margin-left: 5px;
        }

        div#title span.xl {
            font-weight: bold;
            font-size: 14px;
        }
}

@media (max-width: 979px) {
    div#title span:first-child {
        margin-left: 0px !important;
        display: block !important;
    }
}

.text-warning {
    margin-left: 40px;
    color: red;
    font-size: small;
    font-style: italic;
}

.text-info {
    margin-left: 40px;
    color: green;
    font-size: small;
    font-style: italic;
}

#map {
    margin-top: 5px;
    height: 780px;
}

table#route {
    border-collapse: separate;
    border-spacing: 5px;
}

    table#route td {
        padding: 5px;
        margin-bottom: 5px;
        width: 4em;
        text-align: center;
    }

        table#route td.berth {
            border: solid 1px black;
            text-decoration: underline;
            cursor: pointer;
            height: 25px;
        }

            table#route td.berth.down {
                border-bottom-style: dashed;
            }

            table#route td.berth.up {
                border-top-style: dashed;
            }

        table#route td.comment {
            font-size: small;
            font-style: italic;
            text-align: left;
            min-width: 6em;
        }

tr.info > td > a {
    color: black !important;
}

tr.error > td > a {
    color: black !important;
}

.starts, .terminates {
    font-weight: normal !important;
}

.stationName {
    font-weight: bold;
}



