<div id="start-end-at-search-results" data-bind="visible: $data.length > 0">
    <table class="table table-hover">
        <thead class="header">
            <tr>
                <!-- 1 -->
                <th class="visible-md visible-lg" colspan="2"></th>
                <!-- 2 -->
                <th class="visible-md visible-lg" colspan="2">From</th>
                <th class="visible-xs visible-sm" colspan="3">From</th>
                <!-- 3 -->
                <th class="visible-md visible-lg simple-col" colspan="2">Departure</th>
                <th class="visible-md visible-lg advanced-col" colspan="3">Departure</th>
                <!-- 4 -->
                <th class="visible-md visible-lg" colspan="2">To</th>
                <th class="visible-xs visible-sm" colspan="3">To</th>
                <!-- 5 -->
                <th class="visible-md visible-lg simple-col" colspan="2">Arrival</th>
                <th class="visible-md visible-lg advanced-col" colspan="3">Arrival</th>
            </tr>
            <tr>
                <!-- 1 -->
                <th class="visible-md visible-lg">Train ID</th>
                <th class="visible-md visible-lg">Operator</th>
                <!-- 2 -->
                <th>Station</th>
                <th class="visible-md visible-lg">Pfm</th>
                <th class="visible-xs visible-sm">P</th>
                <!-- 3 -->
                <th class="visible-md visible-lg advanced-col">WTT</th>
                <th class="visible-md visible-lg">Public</th>
                <th class="visible-md visible-lg">Actual</th>
                <th class="visible-xs visible-sm" rowspan="2">Dept</th>
                <!-- 4 -->
                <th>Station</th>
                <th class="visible-md visible-lg">Pfm</th>
                <th class="visible-xs visible-sm">P</th>
                <!-- 5 -->
                <th class="visible-md visible-lg advanced-col">WTT</th>
                <th class="visible-md visible-lg">Public</th>
                <th class="visible-md visible-lg">Actual</th>
                <th class="visible-xs visible-sm" rowspan="2">Arr</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: $data">
            <tr data-bind="css: computedCss, attr: { title: title }">
                <!-- 1 -->
                <td class="visible-md visible-lg">
                    <a data-bind="text: headCode, attr: { href: '../train/#!' + trainId + '/' + departureDate }"></a>
                </td>
                <td class="visible-md visible-lg">
                    <a data-bind="text: operatorCode, attr: { title: operatorName, href: '../train/#!' + trainId + '/' + departureDate }"></a>
                </td>
                <!-- 2 -->
                <td class="stationName" data-bind="css: fromStationCss">
                    <a data-bind="attr: { href: '../train/#!' + trainId + '/' + departureDate }">
                        <span data-bind="text: fromStation, css: { changeOfOrigin: changeOfOriginStation }"></span>
                        <span data-bind="text: changeOfOriginStation"></span>
                    </a>
                </td>
                <td class="centerText platform">
                    <a data-bind="text: fromPlatform, attr: { href: '../train/#!' + trainId + '/' + departureDate }"></a>
                </td>
                <!-- 3 -->
                <td class="visible-md visible-lg time advanced-col" title="WTT Departure">
                    <a data-bind="text: wttDeparture, attr: { href: '../train/#!' + trainId + '/' + departureDate }"></a>
                </td>
                <td class="visible-md visible-lg time" title="Public Departure">
                    <a data-bind="text: publicDeparture, attr: { href: '../train/#!' + trainId + '/' + departureDate }"></a>
                </td>
                <td class="visible-md visible-lg time actual" title="Actual Departure">
                    <a data-bind="text: actualDeparture, attr: { href: '../train/#!' + trainId + '/' + departureDate }"></a>
                </td>
                <td class="visible-xs visible-sm time">
                    <a data-bind="attr: { href: '../train/#!' + trainId + '/' + departureDate }">
                        <!-- ko if: actualDeparture -->
                        <span class="actual" data-bind="text: actualDeparture"></span>
                        <!-- /ko -->
                        <!-- ko if: !actualDeparture -->
                        <!-- ko if: publicDeparture -->
                        <span style="font-style: italic;" data-bind="text: publicDeparture"></span>
                        <!-- /ko -->
                        <!-- ko if: !publicDeparture -->
                        <span style="font-style: italic;" data-bind="text: wttDeparture"></span>
                        <!-- /ko -->
                        <!-- /ko -->
                    </a>
                </td>
                <!-- 4 -->
                <td class="stationName" data-bind="css: toStationCss">
                    <a data-bind="attr: { href: '../train/#!' + trainId + '/' + departureDate }">
                        <span data-bind="text: toStation, css: { changeOfDestination: cancelEnRoute }"></span>
                        <span data-bind="text: cancelEnRoute"></span>
                    </a>
                </td>
                <td class="centerText platform">
                    <a data-bind="text: toPlatform, attr: { href: '../train/#!' + trainId + '/' + departureDate }"></a>
                </td>
                <!-- 5 -->
                <td class="visible-md visible-lg time advanced-col" title="WTT Arrival">
                    <a data-bind="text: wttArrival, attr: { href: '../train/#!' + trainId + '/' + departureDate }"></a>
                </td>
                <td class="visible-md visible-lg time" title="Public Arrival">
                    <a data-bind="text: publicArrival, attr: { href: '../train/#!' + trainId + '/' + departureDate }"></a>
                </td>
                <td class="visible-md visible-lg time actual" title="Actual Arrival">
                    <a data-bind="text: actualArrival, attr: { href: '../train/#!' + trainId + '/' + departureDate }"></a>
                </td>
                <td class="visible-xs visible-sm time">
                    <a data-bind="attr: { href: '../train/#!' + trainId + '/' + departureDate }">
                        <!-- ko if: actualArrival -->
                        <span class="actual" data-bind="text: actualArrival"></span>
                        <!-- /ko -->
                        <!-- ko if: !actualArrival -->
                        <!-- ko if: publicArrival -->
                        <span style="font-style: italic;" data-bind="text: publicArrival"></span>
                        <!-- /ko -->
                        <!-- ko if: !publicArrival -->
                        <span style="font-style: italic;" data-bind="text: wttArrival"></span>
                        <!-- /ko -->
                        <!-- /ko -->
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>