---
layout: default
title: trainnotifier.co.uk
menu: <li><a href="../">Home</a></li><li class="active"><a>Routes</a></li><li><a href="http://www.whattrain.co.uk/" target="_blank">Stations</a></li><li><a href="../ppm/">PPM</a></li><li><a href="../about/">About</a></li><li>
css: route.css
js:
    - src: app/trainModels.js
    - src: app/searchModels.js                                                                                                                                                                
    - src: app/route.js
---
<div class="row">
    <div class="col-md-4 col-xs-12">
        Select Route:
        <select class="form-control" id="route-selector">
            <option data-routeid="xcs" value="xcs">XCity South</option>
            <option data-routeid="xcn" value="xcn">XCity North</option>
            <option data-routeid="wvh" value="wvh">WVH-BHM</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-xs-12">
        <table id="route">
            <thead>
                <tr>
                    <td colspan="2"><span class="glyphicon glyphicon-arrow-down"></span></td>
                    <td colspan="2"><span class="glyphicon glyphicon-arrow-up"></span></td>
                </tr>
            </thead>
            <tbody data-bind="foreach: $data">
                <tr>
                    <td class="comment down label" data-bind="css: { 'label-primary': down.label, 'label-info': !down.label }">
                        <abbr data-bind="text: down.text, attr: { title: down.abbr }"></abbr>
                    </td>
                    <td class="berth down" data-bind="text: down.contents, attr: { title: down.timestamp }, click: function () { showTrain(down); }"></td>
                    <td class="berth up" data-bind="text: up.contents, attr: { title: up.timestamp }, click: function () { showTrain(up); }"></td>
                    <td class="comment up label" data-bind="css: { 'label-primary': down.label, 'label-info': !down.label }">
                        <abbr data-bind="text: up.text, attr: { title: up.abbr }"></abbr>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"><span class="glyphicon glyphicon-arrow-down"></span></td>
                    <td colspan="2"><span class="glyphicon glyphicon-arrow-up"></span></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!--/span3-->
    <div class="col-md-8 col-xs-6">
        <div class="row alert alert-info hide" id="no-results-row">
            <strong>No Results Found</strong>
        </div>
        <div class="row alert alert-error hide" id="error-row">
            <strong>Error fetching data. Please Refresh to try again</strong>
        </div>
        <div class="progress progress-striped active hide">
            <div class="bar" style="width: 100%"></div>
        </div>
        <div class="row" id="title" data-bind="visible: id">
            <span data-bind="text: id" class="xxl"></span>
            <span data-bind="text: from" class="stationName xl"></span><span data-bind="visible: to">&nbsp;to&nbsp;</span><span data-bind="text: to" class="stationName xl"></span>
            <span data-bind="text: start"></span><span data-bind="visible: end"> - </span>
            <span data-bind="text: end"></span>
            <span data-bind="text: fullTitle" class="hide"></span>
            <hr style="margin: 5px 0px;" />
        </div>
        <ul class="nav nav-tabs" id="trainNav">
            <li class="active"><a href="#mix" data-toggle="tab">Train</a></li>
            <li><a href="#schedule" data-toggle="tab">Schedule</a></li>
            <li><a href="#trains" data-toggle="tab">Live</a></li>
            <li><a href="#details" data-toggle="tab">Details</a></li>
            <!--<li><a href="/history#!" data-bind="attr: { href: '/history#!' + $data }">History</a></li>-->
        </ul>
        <div class="tab-content" id="route-results" data-bind="visible: $data">
            <div class="tab-pane active" id="mix">
                {% include train-mix.html %}
            </div>
            <div class="tab-pane" id="schedule">
                {% include train-schedule.html %}
            </div>
            <div class="tab-pane" id="trains">
                {% include train-live.html %}
            </div>
            <div class="tab-pane" id="details">
                {% include train-details.html %}
            </div>
        </div>
    </div>
    <!--/span9-->
</div>
<!--/row-fluid-->
<div class="row">
    <p class="text-warning info-text">
        <i class="glyphicon glyphicon-info-sign"></i>&nbsp;The above boxes are just my guestimation based on running trains. I plan to map this better at some point.<br />
        Click on a train to view matched headcodes<br />
        <i class="glyphicon glyphicon-info-sign"></i>&nbsp;Data is updated every 5 seconds
    </p>
</div>
